<div class="page-width section-{{ section.id }}-padding">
    <h2
    class="inline-richtext {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
    {{ block.shopify_attributes }}
    >
    {{ section.settings.title }}
    </h2>


    <slider-component class="slider-mobile-gutter{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        <ul
            class="contains-card contains-card--collection{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid grid--5-col-desktop grid--1-col-tablet-down slider slider--tablet grid--peek collection-list--{{ section.blocks.size }}-items"
            id="Slider-{{ section.id }}"
            role="list"
        >
            {%- liquid
            assign columns = section.blocks.size
            if columns > 3
                assign columns = 3
            endif
            -%}
            {%- for block in section.blocks -%}
            <li
                id="Slide-{{ section.id }}-{{ forloop.index }}"
                class="blo-customer-favs-card  grid__item slider__slide {% if collection.featured_image == nil %} collection-list__item--no-media{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                data-cascade
                style="--animation-order: {{ forloop.index }};"
                {% endif %}
            >
                <a href="{{block.settings.product.url}}">
                    {% if block.settings.image %}
                        {{ block.settings.image | image_url: width: 1000 | image_tag: loading: 'lazy' }}
                    {% else %}
                        {{ block.settings.product.featured_image | image_url: width: 1000 | image_tag: loading: 'lazy' }}
                    {% endif %}
                    <div class="blo-customer-favs-card-content">
                        <div class="blo-customer-favs-stars">
                            <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.73579 0.745028C6.90273 0.296093 7.49269 0.195556 7.7989 0.56386L7.83211 0.603805C7.87527 0.655716 7.9097 0.714294 7.93407 0.777252L9.11901 3.83892C9.21189 4.07891 9.44274 4.23711 9.70007 4.23711H11.6666C11.7213 4.23711 11.7757 4.24431 11.8286 4.25852L13.0887 4.5977C13.571 4.72753 13.7122 5.34367 13.3344 5.67052L12.2588 6.60134L10.8108 8.13648C10.6833 8.27165 10.6227 8.45666 10.6457 8.64104L11.0064 11.5357C11.0105 11.5691 11.0174 11.6021 11.0269 11.6345L11.114 11.9306C11.2657 12.4464 10.7368 12.8994 10.2505 12.67L9.32497 12.2334C9.29047 12.2172 9.25754 12.1977 9.22659 12.1754L7.45259 10.8975C7.24615 10.7487 6.97003 10.7405 6.75507 10.8766L4.15886 12.5205L3.77404 12.7183C3.32697 12.9481 2.80583 12.5811 2.87149 12.0827L3.21521 9.47382C3.22123 9.42818 3.23228 9.38335 3.24816 9.34015L3.47989 8.71005C3.5611 8.48921 3.51098 8.24146 3.35032 8.06956L1.97812 6.60134L1.05393 5.80772C0.645856 5.4573 0.84371 4.78921 1.3768 4.71751L4.74379 4.26466C4.87681 4.24677 5.00049 4.18641 5.09643 4.09256L5.61683 3.58352C5.68249 3.5193 5.73314 3.44136 5.76515 3.35528L6.73579 0.745028Z" fill="#161616"/>
                            </svg>
                            <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.73579 0.745028C6.90273 0.296093 7.49269 0.195556 7.7989 0.56386L7.83211 0.603805C7.87527 0.655716 7.9097 0.714294 7.93407 0.777252L9.11901 3.83892C9.21189 4.07891 9.44274 4.23711 9.70007 4.23711H11.6666C11.7213 4.23711 11.7757 4.24431 11.8286 4.25852L13.0887 4.5977C13.571 4.72753 13.7122 5.34367 13.3344 5.67052L12.2588 6.60134L10.8108 8.13648C10.6833 8.27165 10.6227 8.45666 10.6457 8.64104L11.0064 11.5357C11.0105 11.5691 11.0174 11.6021 11.0269 11.6345L11.114 11.9306C11.2657 12.4464 10.7368 12.8994 10.2505 12.67L9.32497 12.2334C9.29047 12.2172 9.25754 12.1977 9.22659 12.1754L7.45259 10.8975C7.24615 10.7487 6.97003 10.7405 6.75507 10.8766L4.15886 12.5205L3.77404 12.7183C3.32697 12.9481 2.80583 12.5811 2.87149 12.0827L3.21521 9.47382C3.22123 9.42818 3.23228 9.38335 3.24816 9.34015L3.47989 8.71005C3.5611 8.48921 3.51098 8.24146 3.35032 8.06956L1.97812 6.60134L1.05393 5.80772C0.645856 5.4573 0.84371 4.78921 1.3768 4.71751L4.74379 4.26466C4.87681 4.24677 5.00049 4.18641 5.09643 4.09256L5.61683 3.58352C5.68249 3.5193 5.73314 3.44136 5.76515 3.35528L6.73579 0.745028Z" fill="#161616"/>
                            </svg>
                            <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.73579 0.745028C6.90273 0.296093 7.49269 0.195556 7.7989 0.56386L7.83211 0.603805C7.87527 0.655716 7.9097 0.714294 7.93407 0.777252L9.11901 3.83892C9.21189 4.07891 9.44274 4.23711 9.70007 4.23711H11.6666C11.7213 4.23711 11.7757 4.24431 11.8286 4.25852L13.0887 4.5977C13.571 4.72753 13.7122 5.34367 13.3344 5.67052L12.2588 6.60134L10.8108 8.13648C10.6833 8.27165 10.6227 8.45666 10.6457 8.64104L11.0064 11.5357C11.0105 11.5691 11.0174 11.6021 11.0269 11.6345L11.114 11.9306C11.2657 12.4464 10.7368 12.8994 10.2505 12.67L9.32497 12.2334C9.29047 12.2172 9.25754 12.1977 9.22659 12.1754L7.45259 10.8975C7.24615 10.7487 6.97003 10.7405 6.75507 10.8766L4.15886 12.5205L3.77404 12.7183C3.32697 12.9481 2.80583 12.5811 2.87149 12.0827L3.21521 9.47382C3.22123 9.42818 3.23228 9.38335 3.24816 9.34015L3.47989 8.71005C3.5611 8.48921 3.51098 8.24146 3.35032 8.06956L1.97812 6.60134L1.05393 5.80772C0.645856 5.4573 0.84371 4.78921 1.3768 4.71751L4.74379 4.26466C4.87681 4.24677 5.00049 4.18641 5.09643 4.09256L5.61683 3.58352C5.68249 3.5193 5.73314 3.44136 5.76515 3.35528L6.73579 0.745028Z" fill="#161616"/>
                            </svg>
                            <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.73579 0.745028C6.90273 0.296093 7.49269 0.195556 7.7989 0.56386L7.83211 0.603805C7.87527 0.655716 7.9097 0.714294 7.93407 0.777252L9.11901 3.83892C9.21189 4.07891 9.44274 4.23711 9.70007 4.23711H11.6666C11.7213 4.23711 11.7757 4.24431 11.8286 4.25852L13.0887 4.5977C13.571 4.72753 13.7122 5.34367 13.3344 5.67052L12.2588 6.60134L10.8108 8.13648C10.6833 8.27165 10.6227 8.45666 10.6457 8.64104L11.0064 11.5357C11.0105 11.5691 11.0174 11.6021 11.0269 11.6345L11.114 11.9306C11.2657 12.4464 10.7368 12.8994 10.2505 12.67L9.32497 12.2334C9.29047 12.2172 9.25754 12.1977 9.22659 12.1754L7.45259 10.8975C7.24615 10.7487 6.97003 10.7405 6.75507 10.8766L4.15886 12.5205L3.77404 12.7183C3.32697 12.9481 2.80583 12.5811 2.87149 12.0827L3.21521 9.47382C3.22123 9.42818 3.23228 9.38335 3.24816 9.34015L3.47989 8.71005C3.5611 8.48921 3.51098 8.24146 3.35032 8.06956L1.97812 6.60134L1.05393 5.80772C0.645856 5.4573 0.84371 4.78921 1.3768 4.71751L4.74379 4.26466C4.87681 4.24677 5.00049 4.18641 5.09643 4.09256L5.61683 3.58352C5.68249 3.5193 5.73314 3.44136 5.76515 3.35528L6.73579 0.745028Z" fill="#161616"/>
                            </svg>
                            <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.73579 0.745028C6.90273 0.296093 7.49269 0.195556 7.7989 0.56386L7.83211 0.603805C7.87527 0.655716 7.9097 0.714294 7.93407 0.777252L9.11901 3.83892C9.21189 4.07891 9.44274 4.23711 9.70007 4.23711H11.6666C11.7213 4.23711 11.7757 4.24431 11.8286 4.25852L13.0887 4.5977C13.571 4.72753 13.7122 5.34367 13.3344 5.67052L12.2588 6.60134L10.8108 8.13648C10.6833 8.27165 10.6227 8.45666 10.6457 8.64104L11.0064 11.5357C11.0105 11.5691 11.0174 11.6021 11.0269 11.6345L11.114 11.9306C11.2657 12.4464 10.7368 12.8994 10.2505 12.67L9.32497 12.2334C9.29047 12.2172 9.25754 12.1977 9.22659 12.1754L7.45259 10.8975C7.24615 10.7487 6.97003 10.7405 6.75507 10.8766L4.15886 12.5205L3.77404 12.7183C3.32697 12.9481 2.80583 12.5811 2.87149 12.0827L3.21521 9.47382C3.22123 9.42818 3.23228 9.38335 3.24816 9.34015L3.47989 8.71005C3.5611 8.48921 3.51098 8.24146 3.35032 8.06956L1.97812 6.60134L1.05393 5.80772C0.645856 5.4573 0.84371 4.78921 1.3768 4.71751L4.74379 4.26466C4.87681 4.24677 5.00049 4.18641 5.09643 4.09256L5.61683 3.58352C5.68249 3.5193 5.73314 3.44136 5.76515 3.35528L6.73579 0.745028Z" fill="#161616"/>
                            </svg>
                        </div>
                        {{block.settings.product.title}}
                    </div>
                </a>
            </li>
            {%- endfor -%}
        </ul>
        <div class="slider-buttons no-js-hidden hidden">
            <button
            type="button"
            class="slider-button slider-button--prev"
            name="previous"
            aria-label="{{ 'general.slider.previous_slide' | t }}"
            >
            <-
            </button>
            <div class="slider-counter caption">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
            <span class="slider-counter--total">{{ section.blocks.size }}</span>
            </div>
            <button
            type="button"
            class="slider-button slider-button--next"
            name="next"
            aria-label="{{ 'general.slider.next_slide' | t }}"
            >
            ->
            </button>
        </div>
    </slider-component>
      
    <div
    class="blo-customer-favs-buttons {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"    >
        <a
            {% if section.settings.button_link == blank %}
            role="link" aria-disabled="true"
            {% else %}
            href="{{ section.settings.button_link }}"
            {% endif %}
            class="button button--primary"
        >
            {{- section.settings.button_label | escape -}}
        </a>              
    </div>
      
</div>

{% style %}
    .blo-customer-favs .page-width {
      display: flex;
      flex-direction: column;
      gap: 50px;
    }
    .blo-customer-favs h2 {
        color: var(--blo-pine);
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
    }
    .blo-customer-favs-card img {
        width: 100%;
        height: auto;  
        margin: 0; 
        font-size: 0;
        border-radius: var(--blo-corner-radius);
        border: 1px solid rgba(0,0,0,.02)
    }
    .blo-customer-favs-card-content {
        margin-top: 10px;
        text-align: center;
        color: var(--blo-pine);
    }
    .blo-customer-favs-stars svg path{
        fill: var(--blo-pine);
    }
    .blo-customer-favs-card a {
        text-decoration: none;
    }
    .blo-customer-favs-buttons {
        text-align: center;
    }



  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  .blo-toggle-collections h2 {
    color: var(--blo-pine);
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  @media screen and (max-width: 989px) {
    .blo-customer-favs .page-width {
      padding-left: 0;
      padding-right: 0;
    }
    .blo-customer-favs h2 {
        padding: 0 25px;
    }
    .blo-customer-favs .slider.slider--tablet {
        scroll-padding-left: 25px;
    }
  }
  @media screen and (max-width: 749px) {
    .blo-customer-favs .grid--peek.slider .grid__item:first-of-type {
        margin-left: 25px;
    }
    .blo-customer-favs .slider--tablet.grid--peek.grid--1-col-tablet-down .grid__item, .slider--mobile.grid--peek.grid--1-col-tablet-down .grid__item {
        width: calc(100% - var(--grid-mobile-horizontal-spacing) - 50px);
    }
}



{% endstyle %}

{% schema %}
{
  "name": "BLO: Customer Favs",
  "tag": "section",
  "class": "section blo-customer-favs",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "Shop Our Customer Favorites!"
    },
    {
        "type": "text",
        "id": "button_label",
        "default": "Button label",
        "label": "Button Label"
    },
    {
        "type": "url",
        "id": "button_link",
        "label": "Button Url"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 100
    }
  ],
  "blocks": [
    {
      "type": "product_list",
      "name": "Product",
      "limit": 5,
      "settings": [
        {
            "type": "product",
            "id": "product",
            "label": "Product"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image Override (Optional)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "BLO: Customer Favs"
    }
  ]
}
{% endschema %}
