<div class="blo-bamboo-comparison-container page-width blo-section-{{ section.id }}-padding">
  <div class="blo-bamboo-comparison-media">
    {% if section.settings['media-type'] == 'image' %}
      {{ section.settings.image | image_url: width: 3200 | image_tag: loading: 'lazy' }}
    {% else %}
      {{
        section.settings.video
        | video_tag: image_size: '1100x', autoplay: true, loop: true, controls: false, muted: true
      }}
    {% endif %}
  </div>
  <div class="blo-bamboo-comparison-text {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'heading' -%}
          <h2
            class="blo-banner-title inline-richtext {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
            {{ block.shopify_attributes }}
          >
            {{ block.settings.heading }}
          </h2>
        {%- when 'text' -%}
          <div
            class="blo-banner-text rte {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
            {{ block.shopify_attributes }}
          >
            <p>{{ block.settings.text }}</p>
          </div>
        {%- when 'table-row' -%}
          <div
            class="blo-bamboo-comparison-row rte {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %} {% if block.settings.is-header == true %} blo-bamboo-comparison-row-header {% endif %}"
            {{ block.shopify_attributes }}
          >
            <div class="blo-bamboo-comparison-row-content">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 10L8.5 13.5L14 6" stroke="#335348" stroke-width="1.9"/>
              </svg>
              <p>{{ block.settings['text-pros'] }}</p>
            </div>
            <div class="blo-bamboo-comparison-row-content">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line x1="6.67175" y1="6.32825" x2="13.7428" y2="13.3993" stroke="#C27D4C" stroke-width="1.9"/>
                <line x1="13.6718" y1="6.67175" x2="6.60068" y2="13.7428" stroke="#C27D4C" stroke-width="1.9"/>
              </svg>
              <p>{{ block.settings['text-cons'] }}</p>
            </div>
          </div>
        {%- when 'buttons' -%}
          <div
            class="blo-bamboo-comparison-buttons {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
            {{ block.shopify_attributes }}
          >
            <a
              {% if block.settings.button_link == blank %}
                role="link" aria-disabled="true"
              {% else %}
                href="{{ block.settings.button_link }}"
              {% endif %}
              class="button button--secondary"
            >
              {{- block.settings.button_label | escape -}}
            </a>
          </div>
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

{% style %}
    .blo-bamboo-comparison-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 150px;
    }
    .blo-bamboo-comparison-media {
        width: 50%;
    }
    .blo-bamboo-comparison-media img,
    .blo-bamboo-comparison-media video {
        border-radius: var(--blo-corner-radius);
        width: 100%;
        height: auto;
    }
    .blo-bamboo-comparison-text {
        width: 50%;
    }
    .blo-bamboo-comparison-text h2 {
        margin-bottom: 10px;
    }
    .blo-bamboo-comparison-text p {

    }
    .blo-bamboo-comparison-text .button {
        margin-top: 20px;
        color: var(--blo-pine);
        --color-secondary-button-text: 51, 83, 72;
    }
    .blo-bamboo-comparison-text h2,
    .blo-bamboo-comparison-text p {
        color: var(--blo-pine, #000)
    }
    .blo-bamboo-comparison-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
    .blo-banner-text + .blo-bamboo-comparison-row {
        margin-top: 40px;
    }
    .blo-bamboo-comparison-row-content {
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        padding: 12px 0;
        color: var(--blo-pine);
    }
    .blo-bamboo-comparison-row-content svg path {
        stroke: var(--blo-pine);
    }
    .blo-bamboo-comparison-row-content + .blo-bamboo-comparison-row-content p{
        color: var(--blo-terra);
    }
    .blo-bamboo-comparison-row-content + .blo-bamboo-comparison-row-content svg path {
        fill: var(--blo-terra);
    }
    .blo-bamboo-comparison-row + .blo-bamboo-comparison-row {
        border-top: 1.9px solid var(--blo-dark-cream);
    }
    .blo-bamboo-comparison-row-content p {
        margin-top: 0;
        margin-bottom: 0;
    }
    .blo-bamboo-comparison-row-header p{
        font-weight: bold !important;
        font-style: italic !important;
    }
    .blo-bamboo-comparison-row-header .blo-bamboo-comparison-row-content svg {
        display: none;
    }
    .blo-bamboo-comparison-row + .blo-bamboo-comparison-buttons {
        margin-top: 20px;
    }


    @media screen and (max-width: 989px) {
      .blo-bamboo-comparison-container {
          flex-direction: column;
          gap: 40px;
      }
      .blo-bamboo-comparison-media {
          width: 100%;
      }
      .blo-bamboo-comparison-text {
          width: 100%;
      }
  }



  .blo-section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  @media screen and (min-width: 750px) {
    .blo-section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}

{% schema %}
{
  "name": "BLO: Bamboo Comparison",
  "tag": "section",
  "class": "section blo-bamboo-comparison",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "media-type",
      "label": "Media Type",
      "options": [
        {
          "value": "image",
          "label": "Image"
        },
        {
          "value": "video",
          "label": "Video"
        }
      ],
      "default": "image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Video"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 100
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Image banner",
          "label": "Heading"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-banner.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "Give customers details about the banner image(s) or content on the template.",
          "label": "Text"
        }
      ]
    },
    {
      "type": "table-row",
      "name": "Table Row",
      "limit": 10,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text-pros",
          "default": "Buttery Soft",
          "label": "Us"
        },
        {
          "type": "inline_richtext",
          "id": "text-cons",
          "default": "Hard",
          "label": "Them"
        },
        {
          "type": "checkbox",
          "id": "is-header",
          "label": "Is a header?",
          "default": false
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.image-banner.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "Button Label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "BLO: Bamboo Comparison"
    }
  ]
}
{% endschema %}
