<div class="page-width section-{{ section.id }}-padding">
  <div class="blo-customer-reviews-title">
    <h2
      class="inline-richtext {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
      {{ block.shopify_attributes }}
    >
      {{ section.settings.title }}
    </h2>
    <h6
      class="inline-richtext {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
      {{ block.shopify_attributes }}
    >
      {{ section.settings.subtitle }}
    </h6>
  </div>
  {%- for block in section.blocks -%}
    <input
      type="radio"
      id="{{ block.id }}"
      name="blo-toggle-swap-{{section.id}}"
      {% if forloop.index == 1 %}
        checked
      {% endif %}
    >
  {%- endfor -%}
  <div class="blo-customer-reviews-container">
    {%- for block in section.blocks -%}
      <div class="blo-customer-reviews-wrapper">
        <a class="blo-customer-reviews-product" href="{{block.settings.product.url}}">
          <div class="blo-customer-reviews-product-image">
            <svg
              class="blo-customer-reviews-product-top-shape"
              width="206"
              height="125"
              viewBox="0 0 206 125"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M205.849 53.0749C206.442 64.0981 204.028 74.67 201.548 85.2565C200.91 87.9911 199.523 89.2688 196.798 89.6243C192.221 90.2479 187.627 90.7941 183.152 91.8816C179.296 92.8332 175.639 94.5865 171.853 95.8009C168.41 96.8933 164.917 97.8115 161.398 98.6657C158.134 99.4641 154.821 100.042 151.554 100.829C138.778 103.88 126.077 107.169 113.259 109.974C104.851 111.821 96.2477 112.832 87.801 114.503C80.5611 115.92 73.3489 117.516 66.2341 119.45C57.7774 121.76 49.2251 123.478 40.5382 124.529C39.1611 124.693 37.3962 124.409 36.29 123.645C24.5098 115.416 13.6154 106.158 7.60071 92.7017C4.76915 86.3516 2.44654 79.577 1.18409 72.7779C-0.276954 64.8643 2.50065 57.687 8.69248 52.2379C12.1867 49.1653 16.6989 48.8802 21.0699 48.6378C30.1555 48.1353 38.3283 50.7521 45.4766 56.4547C45.9566 56.8472 46.3481 57.3634 46.7715 57.8147C46.9903 57.6508 47.2177 57.4735 47.4586 57.3047C47.4797 56.6631 47.5095 56.0079 47.5172 55.3577C47.4675 44.1689 48.3304 33.1271 52.723 22.6531C55.2934 16.4826 59.4407 11.6913 64.6454 7.54788C73.9707 0.124687 93.0936 2.39674 99.78 14.0613C103.24 20.111 106.273 26.4284 109.282 32.7396C110.606 35.5525 111.381 38.6021 112.411 41.5492C112.62 41.6074 112.816 41.6569 113.021 41.693C113.444 40.4535 113.886 39.1982 114.268 37.9328C117.188 28.5584 121.105 19.6599 126.851 11.6565C129.961 7.35967 133.585 3.66771 138.578 1.45869C141.203 0.279645 143.898 -0.104152 146.603 0.505896C153.097 1.96289 158.428 5.19254 161.62 11.2895C164.909 17.6087 166.254 24.4706 167.127 31.4479C167.519 34.6512 167.717 37.8737 168.071 41.9075C169.458 40.6299 170.425 39.815 171.324 38.8994C176.496 33.605 182.723 30.5805 190.06 29.5009C196.427 28.5883 200.027 30.3219 202.655 36.2188C205.057 41.5629 205.522 47.2633 205.845 53.0528" fill="#F1D38B"/>
            </svg>
            <svg
              class="blo-customer-reviews-product-bottom-shape"
              width="138"
              height="137"
              viewBox="0 0 138 137"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M40.5251 62.81C40.2451 67.54 42.4751 73.78 43.9651 80.14C44.4151 82.05 44.9451 84.07 45.9851 85.68C49.8751 91.7 55.8251 93.97 62.7251 94.41C68.6851 94.79 73.7251 91.96 78.9651 89.89C82.7551 88.39 86.3851 86.49 88.6951 82.91C92.7251 76.66 95.8451 70.02 96.4251 62.49C96.7151 58.75 96.6251 54.83 94.5451 51.59C90.8051 45.75 85.5951 41.32 79.7551 37.64C74.6751 34.44 69.0251 33.61 63.1951 34.17C56.9951 34.76 51.1851 36.28 47.3251 41.91C43.3851 47.65 40.4051 53.68 40.5351 62.82M137.345 69.15C136.785 76.96 136.165 84.67 133.015 91.88C131.255 95.91 129.265 99.9 126.875 103.57C123.855 108.22 120.315 112.54 116.995 117C116.955 117.06 116.905 117.12 116.845 117.16C112.815 120.51 108.965 124.12 104.675 127.1C101.985 128.96 98.5851 129.79 95.5651 131.2C88.9651 134.27 81.9051 135.21 74.7851 135.84C70.1551 136.25 65.5151 136.61 60.8751 136.7C59.0851 136.73 57.2351 136.09 55.4851 135.51C51.0251 134.01 46.4651 132.7 42.2451 130.69C37.7651 128.56 33.6251 125.71 29.3651 123.14C28.1251 122.39 26.9751 121.47 25.7751 120.65C20.4551 117.01 16.6751 111.92 12.7251 106.97C10.7651 104.52 8.4451 102.36 6.5051 99.9C5.4351 98.55 4.7451 96.88 4.0251 95.29C2.9351 92.89 1.8151 90.48 1.0351 87.97C0.605096 86.6 0.855097 85.03 0.765097 83.55C0.735097 83.13 0.535097 82.73 0.465097 82.31C0.285097 81.32 -0.0449034 80.33 0.00509658 79.35C0.255097 74.7 0.575096 70.05 0.945096 65.4C1.1951 62.29 1.5051 59.19 1.9051 56.1C3.2051 46.1 7.6851 37.36 12.7751 28.86C15.2551 24.72 18.3551 21.19 21.9351 17.96C23.5351 16.52 24.4151 14.31 25.9251 12.74C28.4651 10.1 31.0751 7.47998 33.9851 5.28998C35.3851 4.22998 37.5351 4.11 39.3751 3.69C43.9651 2.65 48.5451 1.42999 53.1951 0.769989C57.1751 0.199989 61.2551 0.279996 65.2851 0.0899963C66.5251 0.0299963 67.7751 0 69.0151 0C85.6751 0.07 100.315 5.49 113.075 16.25C124.995 26.29 132.325 39.06 135.725 54.07C136.835 58.97 136.845 64.13 137.355 69.17" fill="#98B5CC"/>
            </svg>

            {% if block.settings.image %}
              {{ block.settings.image | image_url: width: 1000 | image_tag: loading: 'lazy' }}
            {% else %}
              {{ block.settings.product.featured_image | image_url: width: 1000 | image_tag: loading: 'lazy' }}
            {% endif %}
          </div>
          <div class="blo-customer-reviews-product-name">
            <p>{{ block.settings.product.title }}</p>
            {{- 'icon-arrow.svg' | inline_asset_content -}}
          </div>
        </a>
        <div class="blo-customer-reviews-review">
          <div class="blo-customer-reviews-stars">
            <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.73579 0.745028C6.90273 0.296093 7.49269 0.195556 7.7989 0.56386L7.83211 0.603805C7.87527 0.655716 7.9097 0.714294 7.93407 0.777252L9.11901 3.83892C9.21189 4.07891 9.44274 4.23711 9.70007 4.23711H11.6666C11.7213 4.23711 11.7757 4.24431 11.8286 4.25852L13.0887 4.5977C13.571 4.72753 13.7122 5.34367 13.3344 5.67052L12.2588 6.60134L10.8108 8.13648C10.6833 8.27165 10.6227 8.45666 10.6457 8.64104L11.0064 11.5357C11.0105 11.5691 11.0174 11.6021 11.0269 11.6345L11.114 11.9306C11.2657 12.4464 10.7368 12.8994 10.2505 12.67L9.32497 12.2334C9.29047 12.2172 9.25754 12.1977 9.22659 12.1754L7.45259 10.8975C7.24615 10.7487 6.97003 10.7405 6.75507 10.8766L4.15886 12.5205L3.77404 12.7183C3.32697 12.9481 2.80583 12.5811 2.87149 12.0827L3.21521 9.47382C3.22123 9.42818 3.23228 9.38335 3.24816 9.34015L3.47989 8.71005C3.5611 8.48921 3.51098 8.24146 3.35032 8.06956L1.97812 6.60134L1.05393 5.80772C0.645856 5.4573 0.84371 4.78921 1.3768 4.71751L4.74379 4.26466C4.87681 4.24677 5.00049 4.18641 5.09643 4.09256L5.61683 3.58352C5.68249 3.5193 5.73314 3.44136 5.76515 3.35528L6.73579 0.745028Z" fill="#161616"/>
            </svg>
            <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.73579 0.745028C6.90273 0.296093 7.49269 0.195556 7.7989 0.56386L7.83211 0.603805C7.87527 0.655716 7.9097 0.714294 7.93407 0.777252L9.11901 3.83892C9.21189 4.07891 9.44274 4.23711 9.70007 4.23711H11.6666C11.7213 4.23711 11.7757 4.24431 11.8286 4.25852L13.0887 4.5977C13.571 4.72753 13.7122 5.34367 13.3344 5.67052L12.2588 6.60134L10.8108 8.13648C10.6833 8.27165 10.6227 8.45666 10.6457 8.64104L11.0064 11.5357C11.0105 11.5691 11.0174 11.6021 11.0269 11.6345L11.114 11.9306C11.2657 12.4464 10.7368 12.8994 10.2505 12.67L9.32497 12.2334C9.29047 12.2172 9.25754 12.1977 9.22659 12.1754L7.45259 10.8975C7.24615 10.7487 6.97003 10.7405 6.75507 10.8766L4.15886 12.5205L3.77404 12.7183C3.32697 12.9481 2.80583 12.5811 2.87149 12.0827L3.21521 9.47382C3.22123 9.42818 3.23228 9.38335 3.24816 9.34015L3.47989 8.71005C3.5611 8.48921 3.51098 8.24146 3.35032 8.06956L1.97812 6.60134L1.05393 5.80772C0.645856 5.4573 0.84371 4.78921 1.3768 4.71751L4.74379 4.26466C4.87681 4.24677 5.00049 4.18641 5.09643 4.09256L5.61683 3.58352C5.68249 3.5193 5.73314 3.44136 5.76515 3.35528L6.73579 0.745028Z" fill="#161616"/>
            </svg>
            <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.73579 0.745028C6.90273 0.296093 7.49269 0.195556 7.7989 0.56386L7.83211 0.603805C7.87527 0.655716 7.9097 0.714294 7.93407 0.777252L9.11901 3.83892C9.21189 4.07891 9.44274 4.23711 9.70007 4.23711H11.6666C11.7213 4.23711 11.7757 4.24431 11.8286 4.25852L13.0887 4.5977C13.571 4.72753 13.7122 5.34367 13.3344 5.67052L12.2588 6.60134L10.8108 8.13648C10.6833 8.27165 10.6227 8.45666 10.6457 8.64104L11.0064 11.5357C11.0105 11.5691 11.0174 11.6021 11.0269 11.6345L11.114 11.9306C11.2657 12.4464 10.7368 12.8994 10.2505 12.67L9.32497 12.2334C9.29047 12.2172 9.25754 12.1977 9.22659 12.1754L7.45259 10.8975C7.24615 10.7487 6.97003 10.7405 6.75507 10.8766L4.15886 12.5205L3.77404 12.7183C3.32697 12.9481 2.80583 12.5811 2.87149 12.0827L3.21521 9.47382C3.22123 9.42818 3.23228 9.38335 3.24816 9.34015L3.47989 8.71005C3.5611 8.48921 3.51098 8.24146 3.35032 8.06956L1.97812 6.60134L1.05393 5.80772C0.645856 5.4573 0.84371 4.78921 1.3768 4.71751L4.74379 4.26466C4.87681 4.24677 5.00049 4.18641 5.09643 4.09256L5.61683 3.58352C5.68249 3.5193 5.73314 3.44136 5.76515 3.35528L6.73579 0.745028Z" fill="#161616"/>
            </svg>
            <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.73579 0.745028C6.90273 0.296093 7.49269 0.195556 7.7989 0.56386L7.83211 0.603805C7.87527 0.655716 7.9097 0.714294 7.93407 0.777252L9.11901 3.83892C9.21189 4.07891 9.44274 4.23711 9.70007 4.23711H11.6666C11.7213 4.23711 11.7757 4.24431 11.8286 4.25852L13.0887 4.5977C13.571 4.72753 13.7122 5.34367 13.3344 5.67052L12.2588 6.60134L10.8108 8.13648C10.6833 8.27165 10.6227 8.45666 10.6457 8.64104L11.0064 11.5357C11.0105 11.5691 11.0174 11.6021 11.0269 11.6345L11.114 11.9306C11.2657 12.4464 10.7368 12.8994 10.2505 12.67L9.32497 12.2334C9.29047 12.2172 9.25754 12.1977 9.22659 12.1754L7.45259 10.8975C7.24615 10.7487 6.97003 10.7405 6.75507 10.8766L4.15886 12.5205L3.77404 12.7183C3.32697 12.9481 2.80583 12.5811 2.87149 12.0827L3.21521 9.47382C3.22123 9.42818 3.23228 9.38335 3.24816 9.34015L3.47989 8.71005C3.5611 8.48921 3.51098 8.24146 3.35032 8.06956L1.97812 6.60134L1.05393 5.80772C0.645856 5.4573 0.84371 4.78921 1.3768 4.71751L4.74379 4.26466C4.87681 4.24677 5.00049 4.18641 5.09643 4.09256L5.61683 3.58352C5.68249 3.5193 5.73314 3.44136 5.76515 3.35528L6.73579 0.745028Z" fill="#161616"/>
            </svg>
            <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.73579 0.745028C6.90273 0.296093 7.49269 0.195556 7.7989 0.56386L7.83211 0.603805C7.87527 0.655716 7.9097 0.714294 7.93407 0.777252L9.11901 3.83892C9.21189 4.07891 9.44274 4.23711 9.70007 4.23711H11.6666C11.7213 4.23711 11.7757 4.24431 11.8286 4.25852L13.0887 4.5977C13.571 4.72753 13.7122 5.34367 13.3344 5.67052L12.2588 6.60134L10.8108 8.13648C10.6833 8.27165 10.6227 8.45666 10.6457 8.64104L11.0064 11.5357C11.0105 11.5691 11.0174 11.6021 11.0269 11.6345L11.114 11.9306C11.2657 12.4464 10.7368 12.8994 10.2505 12.67L9.32497 12.2334C9.29047 12.2172 9.25754 12.1977 9.22659 12.1754L7.45259 10.8975C7.24615 10.7487 6.97003 10.7405 6.75507 10.8766L4.15886 12.5205L3.77404 12.7183C3.32697 12.9481 2.80583 12.5811 2.87149 12.0827L3.21521 9.47382C3.22123 9.42818 3.23228 9.38335 3.24816 9.34015L3.47989 8.71005C3.5611 8.48921 3.51098 8.24146 3.35032 8.06956L1.97812 6.60134L1.05393 5.80772C0.645856 5.4573 0.84371 4.78921 1.3768 4.71751L4.74379 4.26466C4.87681 4.24677 5.00049 4.18641 5.09643 4.09256L5.61683 3.58352C5.68249 3.5193 5.73314 3.44136 5.76515 3.35528L6.73579 0.745028Z" fill="#161616"/>
            </svg>
          </div>
          <h2
            class="inline-richtext {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
            {{ block.shopify_attributes }}
          >
            {{ block.settings.review_text }}
          </h2>
          <h6
            class="inline-richtext {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
            {{ block.shopify_attributes }}
          >
            {{ block.settings.review_name }}
          </h6>
        </div>
      </div>
    {%- endfor -%}
  </div>

  <div class="blo-customer-reviews-toggle-container">
    {%- for block in section.blocks -%}
      <label class="" for="{{ block.id }}">
        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 12.5002L20 12.5002M20 12.5002L15.5 8.00024M20 12.5002L15.5 17.0002" stroke="#F5F4E6" stroke-width="1.9" stroke-linecap="square"/>
        </svg>
      </label>
    {%- endfor -%}
  </div>
</div>

{% style %}
  .blo-customer-reviews {
      background: var(--blo-terra);
      overflow: hidden;
  }
  .blo-customer-reviews .page-width {
      display: flex;
      flex-direction: column;
      gap: 140px;
  }
  .blo-customer-reviews-title {
      display: flex;
      flex-direction: column;
      gap: 0px;
      text-align: center;
  }
  .blo-customer-reviews-title h2{
      font-family: 'AUTHENTIC Sans' !important;
      font-style: normal;
      font-weight: 700;
      font-size: 54px;
      line-height: 120%;
      color: var(--blo-cream, #FCFCF9);
      margin-top: 0;
      margin-bottom: 0;
  }
  .blo-customer-reviews-title h6{
      color: var(--blo-cream, #FCFCF9);
      margin-top: 0;
      margin-bottom: 0;
  }
  .blo-customer-reviews-wrapper {
      display: none;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 0px;
      gap: 150px;
  }
  .blo-customer-reviews-product {
      text-decoration: none;
      width: 400px;
      position: relative;
  }
  .blo-customer-reviews-product-image {
      position: relative;
      font-size: 0;
  }
  .blo-customer-reviews-product img {
      width: 100%;
      height: auto;
      position: relative;
      z-index:1;
      font-size: 0;
      border-radius: var(--blo-corner-radius);
  }
  .blo-customer-reviews-product-top-shape {
      position: absolute;
      top: -80px;
      left: -40px;
      z-index: 0;
  }
  .blo-customer-reviews-product-bottom-shape {
      position: absolute;
      bottom: -61px;
      right: -61px;
      z-index: 0;
  }
  .blo-customer-reviews-product-name {
      color: var(--blo-cream, #FCFCF9);
      z-index:1;
      position: relative;
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      gap: 10px;
  }
  .blo-customer-reviews-product-name svg {
    fill: var(--blo-ivory);
  }
  .blo-customer-reviews-product-name p {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--blo-ivory);
  }
  .blo-customer-reviews-product:hover .blo-customer-reviews-product-name,
  .blo-customer-reviews-product:active .blo-customer-reviews-product-name {
    gap: 15px;
    transition: gap 250ms ease-in-out;
  }
  .blo-customer-reviews-product:hover .blo-customer-reviews-product-image img,
  .blo-customer-reviews-product:active .blo-customer-reviews-product-image img{
    transform: scale(1.01);
    transition: transform 250ms ease-in-out;
  }
  .blo-customer-reviews-review {
      width: 530px;
      display: flex;
      flex-direction: column;
      gap: 15px;
  }
  .blo-customer-reviews-stars {
      font-size: 0;
      display: flex;
      flex-direction: row;
      gap: 10px;
  }
  .blo-customer-reviews-stars svg {
      width: 24px;
      height: auto;
  }
  .blo-customer-reviews-stars svg path{
      fill: var(--blo-ivory, #FCFCF9);
  }
  .blo-customer-reviews-review h2 {
      color: var(--blo-ivory, #FCFCF9);
      margin-top: 0;
      margin-bottom: 0;
  }
  .blo-customer-reviews-review h6 {
      color: var(--blo-ivory, #FCFCF9);
      margin-top: 0;
      margin-bottom: 0;
  }
  .blo-customer-reviews-toggle-container {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  .blo-customer-reviews-toggle-container label {
    border: 1.9px solid var(--blo-ivory, #FCFCF9);
    padding: 10px;
    border-radius: 24px;
    font-size: 0;
  }
  .blo-customer-reviews-toggle-container label:hover {
    cursor: pointer;
  }
  .blo-customer-reviews-toggle-container label:first-of-type svg {
    transform: rotate(180deg);
  }

  /* Toggle logic */
  .blo-customer-reviews input[type="radio"] {
    display: none;
  }
  .blo-customer-reviews input[type="radio"]:nth-of-type(1):checked ~ .blo-customer-reviews-container .blo-customer-reviews-wrapper:nth-of-type(1),
  .blo-customer-reviews input[type="radio"]:nth-of-type(2):checked ~ .blo-customer-reviews-container .blo-customer-reviews-wrapper:nth-of-type(2) {
    display: flex;
  }


  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }


  @media screen and (max-width: 989px) {
    .blo-customer-reviews-wrapper {
        gap: 50px;
    }
    .blo-customer-reviews-product-top-shape {
      width: 130px;
      top: -78px;
      left: -23px;
    }
    .blo-customer-reviews-product-bottom-shape {
      width: 80px;
      bottom: -35px;
      right: -35px;
      height: auto;
    }
  }


  @media screen and (max-width: 750px) {
    .blo-customer-reviews-wrapper {
      flex-direction: column;
      gap: 40px;
    }
    .blo-customer-reviews-product {
      width: 100%;
    }
    .blo-customer-reviews-review {
      width: 100%;
    }
    .blo-customer-reviews .page-width {
      gap: 110px;
    }
    .blo-customer-reviews-title h2 {
        font-size: 30px;
    }
  }
{% endstyle %}

{% schema %}
{
  "name": "BLO: Customer Reviews",
  "tag": "section",
  "class": "section blo-customer-reviews",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "But, Don’t Just Take Our Word For It."
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Section Title",
      "default": "We have over 3,800 raving five star reviews. Our customers love our buttery soft clothes!"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 100
    }
  ],
  "blocks": [
    {
      "type": "review_list",
      "name": "Review",
      "limit": 2,
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image Override (Optional)"
        },
        {
          "type": "text",
          "id": "review_text",
          "label": "Review Text",
          "default": "Love it so much!"
        },
        {
          "type": "text",
          "id": "review_name",
          "label": "Review Name",
          "default": "Susan M."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "BLO: Customer Reviews"
    }
  ]
}
{% endschema %}
