<div class="page-width">
  <h2
    class="blo-banner-title inline-richtext {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
    {{ block.shopify_attributes }}
  >
    {{ section.settings.title }}
  </h2>

  {%- for block in section.blocks -%}
    <input
      type="radio"
      id="{{ block.id }}"
      name="toggle-collections"
      {% if forloop.index == 1 %}
        checked
      {% endif %}
    >
  {%- endfor -%}

  <div class="toggle-wrapper">
    {%- for block in section.blocks -%}
      <label class="toggle" for="{{ block.id }}">{{ block.settings.collection_group_title }}</label>
    {%- endfor -%}
  </div>

  <div class="toggle-collections-container">
    {%- for block in section.blocks -%}
      <slider-component class="toggle-collections-row slider-mobile-gutter{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        <ul
          class="collection-list contains-card contains-card--collection{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid grid--5-col-desktop grid--2-col-tablet-down slider slider--tablet grid--peek collection-list--{{ section.blocks.size }}-items"
          id="Slider-{{ section.id }}"
          role="list"
        >
          {%- liquid
            assign columns = section.blocks.size
            if columns > 3
              assign columns = 3
            endif
          -%}
          {%- for collection in block.settings.collection_list -%}
            <li
              id="Slide-{{ section.id }}-{{ forloop.index }}"
              class="collection-list__item grid__item slider__slide {% if collection.featured_image == nil %} collection-list__item--no-media{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              {{ block.shopify_attributes }}
              {% if settings.animations_reveal_on_scroll %}
                data-cascade
                style="--animation-order: {{ forloop.index }};"
              {% endif %}
            >
              {%- assign placeholder_image_index = forloop.index0 | modulo: 4 | plus: 1 -%}
              {%- assign placeholder_image = 'collection-apparel-' | append: placeholder_image_index -%}
              {% render 'card-collection',
                card_collection: collection,
                media_aspect_ratio: section.settings.image_ratio,
                columns: columns,
                placeholder_image: placeholder_image
              %}
            </li>
          {%- endfor -%}
        </ul>
        <div class="slider-buttons no-js-hidden">
          <button
            type="button"
            class="slider-button slider-button--prev"
            name="previous"
            aria-label="{{ 'general.slider.previous_slide' | t }}"
          >
            {% render 'icon-caret' %}
          </button>
          <div class="slider-counter caption">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
            <span class="slider-counter--total">{{ section.blocks.size }}</span>
          </div>
          <button
            type="button"
            class="slider-button slider-button--next"
            name="next"
            aria-label="{{ 'general.slider.next_slide' | t }}"
          >
            {% render 'icon-caret' %}
          </button>
        </div>
      </slider-component>

      {% comment %}
        <div class="toggle-collections-row">
          {%- for collection in block.settings.collection_list -%}
            <a class="toggle-collections-row-item" href="{{ collection.url }}">
              <img
                srcset="
                  {%- if collection.featured_image.width >= 165 -%}{{ collection.featured_image | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if collection.featured_image.width >= 330 -%}{{ collection.featured_image | image_url: width: 330 }} 330w,{%- endif -%}
                  {%- if collection.featured_image.width >= 535 -%}{{ collection.featured_image | image_url: width: 535 }} 535w,{%- endif -%}
                  {%- if collection.featured_image.width >= 750 -%}{{ collection.featured_image | image_url: width: 750 }} 750w,{%- endif -%}
                  {%- if collection.featured_image.width >= 1000 -%}{{ collection.featured_image | image_url: width: 1000 }} 1000w,{%- endif -%}
                  {%- if collection.featured_image.width >= 1500 -%}{{ collection.featured_image | image_url: width: 1500 }} 1500w,{%- endif -%}
                  {%- if collection.featured_image.width >= 3000 -%}{{ collection.featured_image | image_url: width: 3000 }} 3000w,{%- endif -%}
                  {{ collection.featured_image | image_url }} {{ collection.featured_image.width }}w
                "
                src="{{ collection.featured_image | image_url: width: 1500 }}"
                sizes="
                  (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: columns }}px,
                  (min-width: 750px) {% if columns > 1 %}calc((100vw - 10rem) / 2){% else %}calc(100vw - 10rem){% endif %},
                  calc(100vw - 3rem)
                "
                alt=""
                height="{{ collection.featured_image.height }}"
                width="{{ collection.featured_image.width }}"
                loading="lazy"
                class="motion-reduce"
              >
              <h6>{{ collection.title }}</h6>
            </a>
          {%- endfor -%}
        </div>
      {% endcomment %}
    {%- endfor -%}
  </div>
</div>

{% style %}
  .toggle-collections h2 {
    text-align: center;
    margin-bottom: 30px;
  }

  .toggle-collections input[type='radio'] {
    display: none;
  }
  .toggle-collections input:nth-of-type(1):checked ~ .toggle-wrapper .toggle:nth-of-type(1),
  .toggle-collections input:nth-of-type(2):checked ~ .toggle-wrapper .toggle:nth-of-type(2),
  .toggle-collections input:nth-of-type(3):checked ~ .toggle-wrapper .toggle:nth-of-type(3),
  .toggle-collections input:nth-of-type(4):checked ~ .toggle-wrapper .toggle:nth-of-type(4),
  .toggle-collections input:nth-of-type(5):checked ~ .toggle-wrapper .toggle:nth-of-type(5) {
    background: var(--greyscale-black, #161616);
    color: var(--tan-light, #efe8de);
  }

  .toggle-collections-row {
    display: none;
  }
  .toggle-collections
    input:nth-of-type(1):checked
    ~ .toggle-collections-container
    .toggle-collections-row:nth-of-type(1),
  .toggle-collections
    input:nth-of-type(2):checked
    ~ .toggle-collections-container
    .toggle-collections-row:nth-of-type(2),
  .toggle-collections
    input:nth-of-type(3):checked
    ~ .toggle-collections-container
    .toggle-collections-row:nth-of-type(3),
  .toggle-collections
    input:nth-of-type(4):checked
    ~ .toggle-collections-container
    .toggle-collections-row:nth-of-type(4),
  .toggle-collections
    input:nth-of-type(5):checked
    ~ .toggle-collections-container
    .toggle-collections-row:nth-of-type(5) {
    display: flex;
  }

  .toggle-collections .toggle-wrapper {
    margin-bottom: 50px;
  }

  .toggle-collections-row {
    flex-direction: row;
    gap: 20px;
    overflow-y: scroll;
  }
  .toggle-collections-row-item {
    background: var(--tan-Medium);
    border-radius: var(--blo-corner-radius);
    text-decoration: none;
    padding-top: 20px;
  }
  .toggle-collections-row-item img {
    width: 250px;
    height: auto;
  }
  .toggle-collections-row-item h6 {
    display: block;
    padding: 10px 30px 30px 30px;
    text-align: center;
    margin: 0;
  }

  @media screen and (max-width: 750px) {
    .toggle-collections h2 {
      text-align: left;
    }
    .toggle-collections .toggle-wrapper {
      margin-bottom: 30px;
      justify-content: flex-start;
    }
  }
{% endstyle %}

{% schema %}
{
  "name": "BLO: Toggle Collections",
  "tag": "section",
  "class": "section toggle-collections",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "We got what you’re looking for."
    }
  ],
  "blocks": [
    {
      "type": "collection_group",
      "name": "Collection Group",
      "limit": 5,
      "settings": [
        {
          "type": "text",
          "id": "collection_group_title",
          "label": "Collection Group Title"
        },
        {
          "type": "collection_list",
          "id": "collection_list",
          "label": "Collections",
          "limit": 5
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "BLO: Toggle Collections"
    }
  ]
}
{% endschema %}
