

<div class="page-width"> 
  <div class="blo-banner-container">
    <div class="blo-banner-image-wrapper blo-edge-texture-wrapper">
      {{
        section.settings.image_desktop
        | image_url: width: 3200
        | image_tag:
          loading: 'lazy',
          class: 'blo-banner-image-desktop'
      }}
      {{
        section.settings.image_mobile
        | image_url: width: 1800
        | image_tag:
          loading: 'lazy',
          class: 'blo-banner-image-mobile'
      }}
      {% render 'blo-edge-texture', pinDirection: 'bottom' %}
    </div>
    
    <div class="blo-banner-card {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      <div class="blo-banner-stars-container">
        <div class="blo-banner-stars">
          <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.73579 0.745028C6.90273 0.296093 7.49269 0.195556 7.7989 0.56386L7.83211 0.603805C7.87527 0.655716 7.9097 0.714294 7.93407 0.777252L9.11901 3.83892C9.21189 4.07891 9.44274 4.23711 9.70007 4.23711H11.6666C11.7213 4.23711 11.7757 4.24431 11.8286 4.25852L13.0887 4.5977C13.571 4.72753 13.7122 5.34367 13.3344 5.67052L12.2588 6.60134L10.8108 8.13648C10.6833 8.27165 10.6227 8.45666 10.6457 8.64104L11.0064 11.5357C11.0105 11.5691 11.0174 11.6021 11.0269 11.6345L11.114 11.9306C11.2657 12.4464 10.7368 12.8994 10.2505 12.67L9.32497 12.2334C9.29047 12.2172 9.25754 12.1977 9.22659 12.1754L7.45259 10.8975C7.24615 10.7487 6.97003 10.7405 6.75507 10.8766L4.15886 12.5205L3.77404 12.7183C3.32697 12.9481 2.80583 12.5811 2.87149 12.0827L3.21521 9.47382C3.22123 9.42818 3.23228 9.38335 3.24816 9.34015L3.47989 8.71005C3.5611 8.48921 3.51098 8.24146 3.35032 8.06956L1.97812 6.60134L1.05393 5.80772C0.645856 5.4573 0.84371 4.78921 1.3768 4.71751L4.74379 4.26466C4.87681 4.24677 5.00049 4.18641 5.09643 4.09256L5.61683 3.58352C5.68249 3.5193 5.73314 3.44136 5.76515 3.35528L6.73579 0.745028Z" fill="#161616"/>
          </svg>
          <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.73579 0.745028C6.90273 0.296093 7.49269 0.195556 7.7989 0.56386L7.83211 0.603805C7.87527 0.655716 7.9097 0.714294 7.93407 0.777252L9.11901 3.83892C9.21189 4.07891 9.44274 4.23711 9.70007 4.23711H11.6666C11.7213 4.23711 11.7757 4.24431 11.8286 4.25852L13.0887 4.5977C13.571 4.72753 13.7122 5.34367 13.3344 5.67052L12.2588 6.60134L10.8108 8.13648C10.6833 8.27165 10.6227 8.45666 10.6457 8.64104L11.0064 11.5357C11.0105 11.5691 11.0174 11.6021 11.0269 11.6345L11.114 11.9306C11.2657 12.4464 10.7368 12.8994 10.2505 12.67L9.32497 12.2334C9.29047 12.2172 9.25754 12.1977 9.22659 12.1754L7.45259 10.8975C7.24615 10.7487 6.97003 10.7405 6.75507 10.8766L4.15886 12.5205L3.77404 12.7183C3.32697 12.9481 2.80583 12.5811 2.87149 12.0827L3.21521 9.47382C3.22123 9.42818 3.23228 9.38335 3.24816 9.34015L3.47989 8.71005C3.5611 8.48921 3.51098 8.24146 3.35032 8.06956L1.97812 6.60134L1.05393 5.80772C0.645856 5.4573 0.84371 4.78921 1.3768 4.71751L4.74379 4.26466C4.87681 4.24677 5.00049 4.18641 5.09643 4.09256L5.61683 3.58352C5.68249 3.5193 5.73314 3.44136 5.76515 3.35528L6.73579 0.745028Z" fill="#161616"/>
          </svg>
          <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.73579 0.745028C6.90273 0.296093 7.49269 0.195556 7.7989 0.56386L7.83211 0.603805C7.87527 0.655716 7.9097 0.714294 7.93407 0.777252L9.11901 3.83892C9.21189 4.07891 9.44274 4.23711 9.70007 4.23711H11.6666C11.7213 4.23711 11.7757 4.24431 11.8286 4.25852L13.0887 4.5977C13.571 4.72753 13.7122 5.34367 13.3344 5.67052L12.2588 6.60134L10.8108 8.13648C10.6833 8.27165 10.6227 8.45666 10.6457 8.64104L11.0064 11.5357C11.0105 11.5691 11.0174 11.6021 11.0269 11.6345L11.114 11.9306C11.2657 12.4464 10.7368 12.8994 10.2505 12.67L9.32497 12.2334C9.29047 12.2172 9.25754 12.1977 9.22659 12.1754L7.45259 10.8975C7.24615 10.7487 6.97003 10.7405 6.75507 10.8766L4.15886 12.5205L3.77404 12.7183C3.32697 12.9481 2.80583 12.5811 2.87149 12.0827L3.21521 9.47382C3.22123 9.42818 3.23228 9.38335 3.24816 9.34015L3.47989 8.71005C3.5611 8.48921 3.51098 8.24146 3.35032 8.06956L1.97812 6.60134L1.05393 5.80772C0.645856 5.4573 0.84371 4.78921 1.3768 4.71751L4.74379 4.26466C4.87681 4.24677 5.00049 4.18641 5.09643 4.09256L5.61683 3.58352C5.68249 3.5193 5.73314 3.44136 5.76515 3.35528L6.73579 0.745028Z" fill="#161616"/>
          </svg>
          <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.73579 0.745028C6.90273 0.296093 7.49269 0.195556 7.7989 0.56386L7.83211 0.603805C7.87527 0.655716 7.9097 0.714294 7.93407 0.777252L9.11901 3.83892C9.21189 4.07891 9.44274 4.23711 9.70007 4.23711H11.6666C11.7213 4.23711 11.7757 4.24431 11.8286 4.25852L13.0887 4.5977C13.571 4.72753 13.7122 5.34367 13.3344 5.67052L12.2588 6.60134L10.8108 8.13648C10.6833 8.27165 10.6227 8.45666 10.6457 8.64104L11.0064 11.5357C11.0105 11.5691 11.0174 11.6021 11.0269 11.6345L11.114 11.9306C11.2657 12.4464 10.7368 12.8994 10.2505 12.67L9.32497 12.2334C9.29047 12.2172 9.25754 12.1977 9.22659 12.1754L7.45259 10.8975C7.24615 10.7487 6.97003 10.7405 6.75507 10.8766L4.15886 12.5205L3.77404 12.7183C3.32697 12.9481 2.80583 12.5811 2.87149 12.0827L3.21521 9.47382C3.22123 9.42818 3.23228 9.38335 3.24816 9.34015L3.47989 8.71005C3.5611 8.48921 3.51098 8.24146 3.35032 8.06956L1.97812 6.60134L1.05393 5.80772C0.645856 5.4573 0.84371 4.78921 1.3768 4.71751L4.74379 4.26466C4.87681 4.24677 5.00049 4.18641 5.09643 4.09256L5.61683 3.58352C5.68249 3.5193 5.73314 3.44136 5.76515 3.35528L6.73579 0.745028Z" fill="#161616"/>
          </svg>
          <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.73579 0.745028C6.90273 0.296093 7.49269 0.195556 7.7989 0.56386L7.83211 0.603805C7.87527 0.655716 7.9097 0.714294 7.93407 0.777252L9.11901 3.83892C9.21189 4.07891 9.44274 4.23711 9.70007 4.23711H11.6666C11.7213 4.23711 11.7757 4.24431 11.8286 4.25852L13.0887 4.5977C13.571 4.72753 13.7122 5.34367 13.3344 5.67052L12.2588 6.60134L10.8108 8.13648C10.6833 8.27165 10.6227 8.45666 10.6457 8.64104L11.0064 11.5357C11.0105 11.5691 11.0174 11.6021 11.0269 11.6345L11.114 11.9306C11.2657 12.4464 10.7368 12.8994 10.2505 12.67L9.32497 12.2334C9.29047 12.2172 9.25754 12.1977 9.22659 12.1754L7.45259 10.8975C7.24615 10.7487 6.97003 10.7405 6.75507 10.8766L4.15886 12.5205L3.77404 12.7183C3.32697 12.9481 2.80583 12.5811 2.87149 12.0827L3.21521 9.47382C3.22123 9.42818 3.23228 9.38335 3.24816 9.34015L3.47989 8.71005C3.5611 8.48921 3.51098 8.24146 3.35032 8.06956L1.97812 6.60134L1.05393 5.80772C0.645856 5.4573 0.84371 4.78921 1.3768 4.71751L4.74379 4.26466C4.87681 4.24677 5.00049 4.18641 5.09643 4.09256L5.61683 3.58352C5.68249 3.5193 5.73314 3.44136 5.76515 3.35528L6.73579 0.745028Z" fill="#161616"/>
          </svg>
        </div> 
        <p class="eyebrow">3,700+</p>
      </div>
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              <h1
                class="blo-banner-title inline-richtext {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
                {{ block.shopify_attributes }}
              >
                {{ block.settings.heading }}

                <div class="blo-banner-spinner">
                  <div class="blo-banner-spinner-container">
                    <div class="blo-banner-spinner-text">
                      Bedtime
                    </div>
                    <div class="blo-banner-spinner-text">
                      Daytime
                    </div>
                    <div class="blo-banner-spinner-text">
                      Naptime
                    </div>
                    <div class="blo-banner-spinner-text">
                      Playtime
                    </div>
                    <div class="blo-banner-spinner-text">
                      Bedtime
                    </div>
                  </div>
                </div>
              </h1>
            {%- when 'text' -%}
              <div class="blo-banner-text rte {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}" {{ block.shopify_attributes }}>
                <p>{{ block.settings.text }}</p>
              </div>
            {%- when 'buttons' -%}
              <div
                class="blo-banner-buttons {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
                {{ block.shopify_attributes }}
              >
                  <a
                    {% if block.settings.button_link == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link }}"
                    {% endif %}
                    class="button button--primary"
                  >
                    {{- block.settings.button_label | escape -}}
                  </a>              
              </div>
          {%- endcase -%}
        {%- endfor -%}
    </div>

  <div>
</div>






{%- style -%}

.blo-banner-container {
    padding-bottom: 50px;
}
.blo-banner-image-wrapper {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
}
.blo-banner-image-desktop, 
.blo-banner-image-mobile {
    display: block;
    width: 100%;
    height: auto;
}
.blo-banner-image-desktop {
    display: none;
}
.blo-banner-image-mobile {
    display: block;
}

.blo-banner-card {
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 16px;
    background: var(--greyscale-white, #FFF);
    box-shadow: 0px 14px 24px 0px rgba(0, 0, 0, 0.07);
    z-index: 1;
}
.blo-banner-stars-container {
    margin-bottom: 25px;
    display: flex;
    padding: 6px 12px;
    align-items: center;
    gap: 7px;
    border-radius: 40px;
    background: var(--tan-light, #F8F4EE);
    align-items: center;
}
.blo-banner-stars {
    display: flex;
    align-items: flex-start;
    gap: 2px;
    margin-bottom: 2px;
}
.blo-banner-stars-container p {
    margin: 0;
    margin-top: 2px;
}
.blo-banner-title {
    margin-top: 0;
    margin-bottom: 10px;
}
.blo-banner-text {
    margin-top: 0;
    margin-bottom: 0;
}
.blo-banner-buttons {
    display: block;
    margin-top: 25px;
    width: 100%;
}


@media screen and (max-width: 989px) { 
    .blo-banner-image-mobile {
        position: relative;
        z-index: 0;
    }
    .blo-banner-container {
        
    }
    .blo-banner-card {
        margin: -50px 30px 0 30px;
        position: relative;
        z-index: 1;
    }
    .blo-banner .page-width {
        padding-left: 0;
        padding-right: 0;
    }
    .blo-banner-buttons .button {
        width: 100%;
    }
}


@media screen and (min-width: 990px) { 
  .blo-banner-container {
      position: relative;
      padding-top: 50px;
      padding-bottom: 50px;
      padding-right: 50px;
  }
  .blo-banner-card {
      position: absolute;
      bottom: 0px;
      right: 0px;
      width: 550px;
      min-height: calc(100% - 100px);
      padding: 50px;
  }
  .blo-banner-image-mobile {
      display: none;
  }
  .blo-banner-image-desktop {
      display: block;
      border-radius: var(--blo-corner-radius);
  }
  .blo-banner .blo-banner-image-wrapper svg.blo-edge-texture {
    opacity: 0;
  }

}




.blo-banner-spinner {
    color: var(--tan-Camel);
    height: 50px;
    overflow: hidden;
    display: inline-block;
    height: 44px;
    overflow: hidden;
    margin-bottom: -15px;
}
.blo-banner-spinner-container {
    margin-top: 0;
    flex-direction: column;
    overflow: hidden;
    align-items: flex-start;
    animation-name: spinner-mobile;
    animation-duration: 5s;
    animation-iteration-count:infinite;
}
@media screen and (min-width: 750px) {
    .blo-banner-spinner-container {
        animation-name: spinner-desktop;
    }
    .blo-banner-spinner {
        height: 52px;
    }
}

/* The animation code */
@keyframes spinner-desktop {
    0%   {
        margin-top: 0px;
    }
    25%  {
        margin-top: -52px;
    }
    50%  {
        margin-top: -104px;
    }
    75%  {
        margin-top: -156px;
    }
    100%  {
        margin-top: -208px;
    }
 }
@keyframes spinner-mobile {
    0%   {
        margin-top: 0px;
    }
    25%  {
        margin-top: -44px;
    }
    50%  {
        margin-top: -88px;
    }
    75%  {
        margin-top: -132px;
    }
    100%  {
        margin-top: -176px;
    }
  }
  
{%- endstyle -%}


{% schema %}
{
  "name": "BLO Banner (Default)",
  "tag": "section",
  "class": "section blo-banner",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image_desktop",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Mobile Image"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Image banner",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-banner.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "Give customers details about the banner image(s) or content on the template.",
          "label": "t:sections.image-banner.blocks.text.settings.text.label"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.image-banner.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "BLO Banner (Default)",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}
