{{ 'blo-sections.css' | asset_url | stylesheet_tag }}

{% render 'blo-edge-texture', pinDirection: 'top' %}
{% render 'blo-edge-texture', pinDirection: 'bottom' %}

<div class="page-width">
  <div class="blo-fabric-text-wrapper blo-text-block {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'badge' -%}
          <div
            class="inline-richtext {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
          >
            <label class="badge">{{ block.settings.badge }}</label>
          </div>
        {%- when 'heading' -%}
          <h2
            class="blo-text-block-title inline-richtext {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
          >
            {{ block.settings.heading }}
          </h2>
        {%- when 'text' -%}
          <div
            class="blo-text-block-text rte {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
          >
            {% render 'icon-checklist' %}
            <p>{{ block.settings.text }}</p>
          </div>
        {%- when 'buttons' -%}
          <div
            class="blo-text-block-buttons {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
          >
            <a
              {% if block.settings.button_link == blank %}
                role="link" aria-disabled="true"
              {% else %}
                href="{{ block.settings.button_link }}"
              {% endif %}
              class="button button--secondary"
            >
              {{- block.settings.button_label | escape -}}
              {% render 'icon-arrow' %}
            </a>
          </div>
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

{%- style -%}
  .blo-fabric {
    background: var(--tan-Medium);
    display: flex;
    flex-direction: row;
    justify-items: flex-end;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .blo-fabric .page-width {
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    padding-top: 160px;
    padding-bottom: 160px;
    width: 100%;
  }
  .blo-fabric-text-wrapper.blo-text-block {
    background: var(--greyscale-White);
    padding: 50px;
    border-radius: var(--blo-corner-radius);
    max-width: 600px;
  }
  .blo-text-block-buttons .button--secondary {
    background: var(--greyscale-White);
  }
  .blo-fabric-text-wrapper.blo-text-block .badge {
    background: var(--tan-Medium);
    color: #716859;
    border: none;
    padding: 0.6rem 1.3rem 0.5rem 1.3rem;
  }
  @media screen and (max-width: 989px) {
    .blo-fabric {
      background-image: url({{section.settings.image.src| image_url: width: 2000}});
    }
    .blo-fabric .page-width {
      flex-direction: column;
      display: flex;
      width: 100%;
      gap: 50px;
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }
  @media screen and (max-width: 600px) {
    .blo-fabric {
      background-image: url({{section.settings.image.src| image_url: width: 1500}});
    }
    .blo-fabric .page-width {
      flex-direction: column;
      display: flex;
      width: 100%;
      gap: 50px;
      padding-top: 100px;
      padding-bottom: 100px;
    }
    .blo-fabric-text-wrapper.blo-text-block {
      padding: 30px;
    }
  }
  @media screen and (min-width: 990px) {
    .blo-fabric-image-wrapper {
      padding-right: 180px;
    }
    .blo-fabric {
      background-image: url({{section.settings.image.src| image_url: width: 2500}});
    }
  }
{%- endstyle -%}

{% schema %}
{
  "name": "BLO: Product Callouts",
  "tag": "section",
  "class": "section blo-product-callouts blo-edge-texture-wrapper",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "We’ve thought of it so you don’t have to."
    },
    {
      "type": "inline_richtext",
      "id": "text",
      "default": "Lorem ipsum dolor sit amet consectetur",
      "label": "Text"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Product Image"
    },
    {
      "type": "checkbox",
      "id": "texture_top",
      "label": "Show Top Texture?",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "texture_bottom",
      "label": "Show Bottom Texture?",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "Callout",
      "name": "Callout",
      "settings": [
        {
          "type": "select",
          "id": "pin_direction",
          "label": "Pin Direction",
          "options": [
            {
              "value": "top_right",
              "label": "Top Right"
            },
            {
              "value": "top_left",
              "label": "Top Left"
            },
            {
              "value": "bottom_right",
              "label": "Bottom Right"
            },
            {
              "value": "bottom_left",
              "label": "Bottom Left"
            }
          ],
          "default": "top_right"
        },
        {
          "type": "text",
          "id": "block_title",
          "label": "Feature Name",
          "default": "Feature Name"
        },
        {
          "type": "inline_richtext",
          "id": "block_text",
          "default": "Feature Text",
          "label": "Feature Text"
        },
        {
          "type": "range",
          "id": "horizontal_position",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Horizontal Position",
          "default": 50
        },
        {
          "type": "range",
          "id": "vertical_position",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Vertical Position",
          "default": 50
        },
        {
          "type": "select",
          "id": "arrow",
          "label": "Arrow Style",
          "options": [
            {
              "value": "arch",
              "label": "Arch"
            },
            {
              "value": "curly",
              "label": "Curly"
            },
            {
              "value": "wavy",
              "label": "Wavy"
            }
          ],
          "default": "arch"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "BLO: Product Callouts"
    }
  ]
}
{% endschema %}
