{{ 'section-blo-soft.css' | asset_url | stylesheet_tag }}

<div class="page-width">
  <div class="blo-soft-image-wrapper">
    <svg
      class="blo-soft-text"
      width="474"
      height="737"
      viewBox="0 0 474 737"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M93.6 238.4C42.72 238.4 8.4 197.6 8.4 150.8C8.4 100.16 42.72 63.2 92.4 63.2C142.8 63.2 175.92 104.48 175.92 151.76C175.92 200.72 140.16 238.4 93.6 238.4ZM101.28 225.44C128.64 225.44 147.36 201.44 147.36 172.88C147.36 119.6 120.96 76.16 82.32 76.16C54.96 76.16 36.96 98.24 36.96 129.2C36.96 182.24 62.64 225.44 101.28 225.44ZM313.841 215.6C314.561 225.2 322.481 226.16 322.481 231.68V232.64C322.481 234.8 320.561 236 317.441 236H282.161C279.041 236 277.121 234.8 277.121 232.64V231.68C277.121 226.16 286.241 225.2 285.761 215.84L283.361 168.32C282.161 142.16 272.801 129.92 258.161 129.92C242.801 129.92 232.961 142.4 232.961 159.68V216.08C232.961 225.44 242.801 226.16 242.801 231.68V232.4C242.801 234.56 240.641 236 237.521 236H200.321C197.201 236 195.281 234.56 195.281 232.4V231.68C195.281 226.16 204.881 225.44 204.881 216.08V88.64C204.881 78.56 194.801 77.84 194.801 73.04V72.32C194.801 70.16 196.241 68.48 198.881 67.28L224.561 56C229.361 53.84 232.241 55.52 232.241 59.84L232.001 134.48C239.201 124.4 251.201 118.4 265.601 118.4C288.161 118.4 308.801 132.8 310.961 169.04L313.841 215.6Z" fill="#E7DDD0"/>
      <path d="M19.2 392.68L19.2659 390.681L19.2625 390.681L19.2 392.68ZM137.28 312.76L135.28 312.734L135.28 312.747V312.76H137.28ZM76.8 445.4C53.5233 445.4 36.621 439.082 25.588 430.828C14.4981 422.533 9.44 412.389 9.44 404.68H5.44C5.44 414.011 11.4219 425.227 23.192 434.032C35.019 442.878 52.7967 449.4 76.8 449.4V445.4ZM9.44 404.68C9.44 401.709 10.3414 399.161 11.9236 397.411C13.4721 395.699 15.8259 394.576 19.1375 394.679L19.2625 390.681C14.8941 390.544 11.3679 392.061 8.95645 394.729C6.57864 397.359 5.44 400.931 5.44 404.68H9.44ZM19.1341 394.679C23.7734 394.832 26.8695 397.132 29.6838 400.925C31.1131 402.852 32.4313 405.116 33.8172 407.631C35.1832 410.109 36.6286 412.857 38.2404 415.571C41.4844 421.034 45.5662 426.655 51.8302 430.888C58.1201 435.139 66.4447 437.88 78 437.88V433.88C67.1153 433.88 59.5999 431.311 54.0698 427.574C48.5138 423.82 44.7956 418.776 41.6796 413.529C40.1114 410.888 38.7368 408.27 37.3203 405.7C35.9237 403.166 34.4969 400.699 32.8962 398.542C29.6505 394.168 25.5466 390.888 19.2659 390.681L19.1341 394.679ZM78 437.88C88.1072 437.88 96.823 434.883 103.043 429.469C109.287 424.033 112.88 416.274 112.88 407.08H108.88C108.88 415.166 105.753 421.807 100.417 426.451C95.057 431.117 87.3328 433.88 78 433.88V437.88ZM112.88 407.08C112.88 399.866 111.245 394.077 108.28 389.392C105.322 384.717 101.129 381.281 96.2347 378.623C86.5679 373.371 73.7182 370.952 61.4097 368.111C48.9026 365.225 36.8307 361.891 27.8578 355.004C19.0461 348.239 13.04 337.891 13.04 320.44H9.04C9.04 338.989 15.5139 350.571 25.4222 358.176C35.1693 365.659 48.0574 369.135 60.5103 372.009C73.1618 374.928 85.2721 377.219 94.3253 382.137C98.7915 384.564 102.398 387.578 104.9 391.531C107.395 395.475 108.88 400.494 108.88 407.08H112.88ZM13.04 320.44C13.04 307.593 18.3559 296.163 28.4186 287.906C38.5084 279.627 53.5031 274.44 72.96 274.44V270.44C52.8169 270.44 36.8516 275.813 25.8814 284.814C14.8841 293.837 9.04 306.407 9.04 320.44H13.04ZM72.96 274.44C93.1275 274.44 108.848 279.865 119.442 287.39C130.084 294.951 135.389 304.481 135.28 312.734L139.28 312.786C139.411 302.799 133.076 292.169 121.758 284.13C110.392 276.055 93.8326 270.44 72.96 270.44V274.44ZM135.28 312.76C135.28 316.128 134.36 318.625 132.756 320.276C131.161 321.917 128.621 323 124.8 323V327C129.379 327 133.079 325.683 135.624 323.064C138.16 320.455 139.28 316.832 139.28 312.76H135.28ZM124.8 323C119.946 323 116.907 320.871 114.35 317.401C113.036 315.618 111.867 313.496 110.675 311.118C109.531 308.837 108.262 306.098 106.958 303.565C104.276 298.353 100.915 292.902 95.5013 288.781C90.0447 284.628 82.6854 281.96 72.24 281.96V285.96C81.9546 285.96 88.4253 288.422 93.0787 291.964C97.7745 295.538 100.804 300.347 103.402 305.395C104.738 307.992 105.831 310.383 107.099 312.911C108.318 315.343 109.609 317.71 111.13 319.774C114.243 323.999 118.374 327 124.8 327V323ZM72.24 281.96C61.2524 281.96 52.7385 285.403 46.962 291.05C41.1925 296.69 38.32 304.367 38.32 312.52H42.32C42.32 305.313 44.8475 298.71 49.7581 293.91C54.6615 289.117 62.1076 285.96 72.24 285.96V281.96ZM38.32 312.52C38.32 319.339 39.9679 324.843 42.9434 329.328C45.9072 333.796 50.0982 337.118 54.9745 339.734C64.6144 344.905 77.4435 347.548 89.7484 350.669C102.243 353.837 114.333 357.516 123.321 364.613C132.161 371.594 138.16 382.02 138.16 399.16H142.16C142.16 380.9 135.679 369.276 125.799 361.474C116.067 353.789 103.197 349.953 90.7317 346.791C78.0765 343.582 65.9456 341.08 56.8655 336.209C52.3818 333.804 48.7728 330.88 46.2766 327.117C43.7921 323.372 42.32 318.661 42.32 312.52H38.32ZM138.16 399.16C138.16 413.667 131.167 425.152 120.012 433.08C108.809 441.04 93.398 445.4 76.8 445.4V449.4C94.042 449.4 110.311 444.88 122.328 436.34C134.393 427.768 142.16 415.133 142.16 399.16H138.16ZM224.222 445.4C184.552 445.4 161.182 417.041 161.182 386.2H157.182C157.182 419.199 182.292 449.4 224.222 449.4V445.4ZM161.182 386.2C161.182 353.283 186.867 329.4 218.702 329.4V325.4C184.776 325.4 157.182 350.957 157.182 386.2H161.182ZM218.702 329.4C255.528 329.4 280.062 356.115 280.062 388.12H284.062C284.062 353.885 257.716 325.4 218.702 325.4V329.4ZM280.062 388.12C280.062 420.006 257.81 445.4 224.222 445.4V449.4C260.234 449.4 284.062 421.994 284.062 388.12H280.062ZM227.822 440.28C235.994 440.28 243.067 436.291 248.019 428.959C252.932 421.686 255.742 411.173 255.742 397.96H251.742C251.742 410.667 249.032 420.314 244.705 426.721C240.417 433.069 234.53 436.28 227.822 436.28V440.28ZM255.742 397.96C255.742 380.868 251.656 365.132 244.651 353.602C237.653 342.082 227.559 334.52 215.582 334.52V338.52C225.684 338.52 234.671 344.878 241.233 355.678C247.787 366.468 251.742 381.452 251.742 397.96H255.742ZM215.582 334.52C206.446 334.52 198.811 338.287 193.53 345.61C188.307 352.852 185.502 363.399 185.502 376.84H189.502C189.502 363.881 192.217 354.268 196.774 347.95C201.273 341.713 207.678 338.52 215.582 338.52V334.52ZM185.502 376.84C185.502 392.044 189.602 407.77 196.861 419.756C204.107 431.72 214.732 440.28 227.822 440.28V436.28C216.672 436.28 207.136 429 200.283 417.684C193.442 406.39 189.502 391.396 189.502 376.84H185.502Z" fill="#E7DDD0"/>
      <path d="M19.2 601.68L19.2659 599.681L19.2625 599.681L19.2 601.68ZM137.28 521.76L135.28 521.734L135.28 521.747V521.76H137.28ZM76.8 654.4C53.5233 654.4 36.621 648.082 25.588 639.828C14.4981 631.533 9.44 621.389 9.44 613.68H5.44C5.44 623.011 11.4219 634.227 23.192 643.032C35.019 651.878 52.7967 658.4 76.8 658.4V654.4ZM9.44 613.68C9.44 610.709 10.3414 608.161 11.9236 606.411C13.4721 604.699 15.8259 603.576 19.1375 603.679L19.2625 599.681C14.8941 599.544 11.3679 601.061 8.95645 603.729C6.57864 606.359 5.44 609.931 5.44 613.68H9.44ZM19.1341 603.679C23.7734 603.832 26.8695 606.132 29.6838 609.925C31.1131 611.852 32.4313 614.116 33.8172 616.631C35.1832 619.109 36.6286 621.857 38.2404 624.571C41.4844 630.034 45.5662 635.655 51.8302 639.888C58.1201 644.139 66.4447 646.88 78 646.88V642.88C67.1153 642.88 59.5999 640.311 54.0698 636.574C48.5138 632.82 44.7956 627.776 41.6796 622.529C40.1114 619.888 38.7368 617.27 37.3203 614.7C35.9237 612.166 34.4969 609.699 32.8962 607.542C29.6505 603.168 25.5466 599.888 19.2659 599.681L19.1341 603.679ZM78 646.88C88.1072 646.88 96.823 643.883 103.043 638.469C109.287 633.033 112.88 625.274 112.88 616.08H108.88C108.88 624.166 105.753 630.807 100.417 635.451C95.057 640.117 87.3328 642.88 78 642.88V646.88ZM112.88 616.08C112.88 608.866 111.245 603.077 108.28 598.392C105.322 593.717 101.129 590.281 96.2347 587.623C86.5679 582.371 73.7182 579.952 61.4097 577.111C48.9026 574.225 36.8307 570.891 27.8578 564.004C19.0461 557.239 13.04 546.891 13.04 529.44H9.04C9.04 547.989 15.5139 559.571 25.4222 567.176C35.1693 574.659 48.0574 578.135 60.5103 581.009C73.1618 583.928 85.2721 586.219 94.3253 591.137C98.7915 593.564 102.398 596.578 104.9 600.531C107.395 604.475 108.88 609.494 108.88 616.08H112.88ZM13.04 529.44C13.04 516.593 18.3559 505.163 28.4186 496.906C38.5084 488.627 53.5031 483.44 72.96 483.44V479.44C52.8169 479.44 36.8516 484.813 25.8814 493.814C14.8841 502.837 9.04 515.407 9.04 529.44H13.04ZM72.96 483.44C93.1275 483.44 108.848 488.865 119.442 496.39C130.084 503.951 135.389 513.481 135.28 521.734L139.28 521.786C139.411 511.799 133.076 501.169 121.758 493.13C110.392 485.055 93.8326 479.44 72.96 479.44V483.44ZM135.28 521.76C135.28 525.128 134.36 527.625 132.756 529.276C131.161 530.917 128.621 532 124.8 532V536C129.379 536 133.079 534.683 135.624 532.064C138.16 529.455 139.28 525.832 139.28 521.76H135.28ZM124.8 532C119.946 532 116.907 529.871 114.35 526.401C113.036 524.618 111.867 522.496 110.675 520.118C109.531 517.837 108.262 515.098 106.958 512.565C104.276 507.353 100.915 501.902 95.5013 497.781C90.0447 493.628 82.6854 490.96 72.24 490.96V494.96C81.9546 494.96 88.4253 497.422 93.0787 500.964C97.7745 504.538 100.804 509.347 103.402 514.395C104.738 516.992 105.831 519.383 107.099 521.911C108.318 524.343 109.609 526.71 111.13 528.774C114.243 532.999 118.374 536 124.8 536V532ZM72.24 490.96C61.2524 490.96 52.7385 494.403 46.962 500.05C41.1925 505.69 38.32 513.367 38.32 521.52H42.32C42.32 514.313 44.8475 507.71 49.7581 502.91C54.6615 498.117 62.1076 494.96 72.24 494.96V490.96ZM38.32 521.52C38.32 528.339 39.9679 533.843 42.9434 538.328C45.9072 542.796 50.0982 546.118 54.9745 548.734C64.6144 553.905 77.4435 556.548 89.7484 559.669C102.243 562.837 114.333 566.516 123.321 573.613C132.161 580.594 138.16 591.02 138.16 608.16H142.16C142.16 589.9 135.679 578.276 125.799 570.474C116.067 562.789 103.197 558.953 90.7317 555.791C78.0765 552.582 65.9456 550.08 56.8655 545.209C52.3818 542.804 48.7728 539.88 46.2766 536.117C43.7921 532.372 42.32 527.661 42.32 521.52H38.32ZM138.16 608.16C138.16 622.667 131.167 634.152 120.012 642.08C108.809 650.04 93.398 654.4 76.8 654.4V658.4C94.042 658.4 110.311 653.88 122.328 645.34C134.393 636.768 142.16 624.133 142.16 608.16H138.16ZM224.222 654.4C184.552 654.4 161.182 626.041 161.182 595.2H157.182C157.182 628.199 182.292 658.4 224.222 658.4V654.4ZM161.182 595.2C161.182 562.283 186.867 538.4 218.702 538.4V534.4C184.776 534.4 157.182 559.957 157.182 595.2H161.182ZM218.702 538.4C255.528 538.4 280.062 565.115 280.062 597.12H284.062C284.062 562.885 257.716 534.4 218.702 534.4V538.4ZM280.062 597.12C280.062 629.006 257.81 654.4 224.222 654.4V658.4C260.234 658.4 284.062 630.994 284.062 597.12H280.062ZM227.822 649.28C235.994 649.28 243.067 645.291 248.019 637.959C252.932 630.686 255.742 620.173 255.742 606.96H251.742C251.742 619.667 249.032 629.314 244.705 635.721C240.417 642.069 234.53 645.28 227.822 645.28V649.28ZM255.742 606.96C255.742 589.868 251.656 574.132 244.651 562.602C237.653 551.082 227.559 543.52 215.582 543.52V547.52C225.684 547.52 234.671 553.878 241.233 564.678C247.787 575.468 251.742 590.452 251.742 606.96H255.742ZM215.582 543.52C206.446 543.52 198.811 547.287 193.53 554.61C188.307 561.852 185.502 572.399 185.502 585.84H189.502C189.502 572.881 192.217 563.268 196.774 556.95C201.273 550.713 207.678 547.52 215.582 547.52V543.52ZM185.502 585.84C185.502 601.044 189.602 616.77 196.861 628.756C204.107 640.72 214.732 649.28 227.822 649.28V645.28C216.672 645.28 207.136 638 200.283 626.684C193.442 615.39 189.502 600.396 189.502 585.84H185.502ZM352.753 486.48L352.724 488.48L352.73 488.48L352.753 486.48ZM342.433 538.8L340.487 539.26L340.851 540.8H342.433V538.8ZM343.393 550.56V548.56H341.393V550.56H343.393ZM315.313 550.56H317.313V548.56H315.313V550.56ZM315.313 538.8V540.8H317.313V538.8H315.313ZM358.033 479.6C366.738 479.6 374.767 482.41 380.581 486.841C386.4 491.276 389.873 497.217 389.873 503.52H393.873C393.873 495.663 389.546 488.644 383.005 483.659C376.459 478.67 367.568 475.6 358.033 475.6V479.6ZM389.873 503.52C389.873 507.335 386.813 511.84 380.833 511.84V515.84C389.254 515.84 393.873 509.305 393.873 503.52H389.873ZM380.833 511.84C375.235 511.84 372.392 510.279 370.713 508.304C368.918 506.191 368.143 503.281 367.398 499.828C366.7 496.592 366.012 492.717 364.037 489.749C361.892 486.525 358.412 484.546 352.777 484.48L352.73 488.48C357.295 488.534 359.424 490.035 360.707 491.964C362.159 494.148 362.717 497.098 363.488 500.672C364.213 504.029 365.133 507.914 367.665 510.894C370.314 514.011 374.431 515.84 380.833 515.84V511.84ZM352.782 484.48C348.027 484.411 344.328 486.277 341.706 489.603C339.16 492.834 337.728 497.312 337.06 502.389C335.723 512.555 337.346 525.972 340.487 539.26L344.38 538.34C341.28 525.228 339.783 512.365 341.026 502.911C341.648 498.178 342.931 494.511 344.848 492.079C346.689 489.743 349.199 488.429 352.724 488.48L352.782 484.48ZM342.433 540.8H374.113V536.8H342.433V540.8ZM374.113 540.8C375.332 540.8 376.193 541.747 376.193 542.88H380.193C380.193 539.693 377.694 536.8 374.113 536.8V540.8ZM376.193 542.88V546.72H380.193V542.88H376.193ZM376.193 546.72C376.193 547.696 375.49 548.56 374.113 548.56V552.56C377.537 552.56 380.193 550.064 380.193 546.72H376.193ZM374.113 548.56H343.393V552.56H374.113V548.56ZM341.393 550.56V633.84H345.393V550.56H341.393ZM341.393 633.84C341.393 639.653 344.983 642.814 347.975 644.996C349.572 646.161 350.792 646.92 351.767 647.807C352.68 648.637 352.913 649.189 352.913 649.68H356.913C356.913 647.531 355.707 645.983 354.459 644.848C353.274 643.77 351.614 642.699 350.331 641.764C347.564 639.746 345.393 637.627 345.393 633.84H341.393ZM352.913 649.68V650.64H356.913V649.68H352.913ZM352.913 650.64C352.913 650.975 352.781 651.263 352.493 651.504C352.186 651.759 351.64 652 350.833 652V656C353.981 656 356.913 653.991 356.913 650.64H352.913ZM350.833 652H310.273V656H350.833V652ZM310.273 652C309.304 652 308.695 651.736 308.373 651.478C308.078 651.243 307.953 650.968 307.953 650.64H303.953C303.953 652.232 304.668 653.637 305.874 654.602C307.052 655.544 308.602 656 310.273 656V652ZM307.953 650.64V649.68H303.953V650.64H307.953ZM307.953 649.68C307.953 649.035 308.21 648.44 308.907 647.66C309.688 646.786 310.65 646.052 311.969 644.868C314.482 642.613 317.313 639.474 317.313 633.84H313.313C313.313 637.806 311.464 639.947 309.297 641.892C308.277 642.808 306.898 643.904 305.924 644.995C304.866 646.18 303.953 647.685 303.953 649.68H307.953ZM317.313 633.84V550.56H313.313V633.84H317.313ZM315.313 548.56H296.833V552.56H315.313V548.56ZM296.833 548.56C295.3 548.56 294.513 547.552 294.513 546.72H290.513C290.513 550.208 293.566 552.56 296.833 552.56V548.56ZM294.513 546.72V542.88H290.513V546.72H294.513ZM294.513 542.88C294.513 541.898 295.463 540.8 296.833 540.8V536.8C293.403 536.8 290.513 539.542 290.513 542.88H294.513ZM296.833 540.8H315.313V536.8H296.833V540.8ZM317.313 538.8V520.8H313.313V538.8H317.313ZM317.313 520.8C317.313 508.932 320.743 498.659 327.436 491.373C334.104 484.114 344.212 479.6 358.033 479.6V475.6C343.294 475.6 332.042 480.446 324.49 488.667C316.963 496.861 313.313 508.188 313.313 520.8H317.313ZM403.689 550.56H405.689V548.56H403.689V550.56ZM419.289 515.52L417.309 515.237L417.308 515.247L419.289 515.52ZM432.249 515.52H430.249V515.53L430.249 515.541L432.249 515.52ZM432.489 538.8L430.489 538.821L430.51 540.8H432.489V538.8ZM432.489 550.56V548.56H430.489V550.56H432.489ZM463.209 623.04L461.466 622.059L461.314 622.33L461.251 622.635L463.209 623.04ZM437.289 654.4C427.651 654.4 419.836 651.315 414.41 645.336C408.963 639.332 405.689 630.152 405.689 617.52H401.689C401.689 630.808 405.136 641.068 411.448 648.024C417.783 655.005 426.768 658.4 437.289 658.4V654.4ZM405.689 617.52V550.56H401.689V617.52H405.689ZM403.689 548.56H390.009V552.56H403.689V548.56ZM390.009 548.56C389.288 548.56 388.794 548.316 388.484 548.006C388.173 547.696 387.929 547.201 387.929 546.48H383.929C383.929 548.159 384.525 549.704 385.655 550.834C386.785 551.964 388.33 552.56 390.009 552.56V548.56ZM387.929 546.48V543.12H383.929V546.48H387.929ZM387.929 543.12C387.929 542.149 388.192 541.606 388.451 541.324C388.688 541.066 389.129 540.8 390.009 540.8V536.8C388.25 536.8 386.65 537.374 385.508 538.616C384.387 539.834 383.929 541.451 383.929 543.12H387.929ZM390.009 540.8H397.449V536.8H390.009V540.8ZM397.449 540.8C404.245 540.8 409.77 538.228 413.818 533.716C417.822 529.252 420.274 523.015 421.271 515.793L417.308 515.247C416.384 521.945 414.157 527.348 410.841 531.044C407.568 534.692 403.134 536.8 397.449 536.8V540.8ZM421.269 515.803C421.664 513.038 423.034 512.24 424.089 512.24V508.24C420.345 508.24 417.875 511.282 417.309 515.237L421.269 515.803ZM424.089 512.24H427.689V508.24H424.089V512.24ZM427.689 512.24C428.821 512.24 429.327 512.569 429.603 512.9C429.935 513.298 430.249 514.081 430.249 515.52H434.249C434.249 513.599 433.844 511.742 432.676 510.34C431.452 508.871 429.678 508.24 427.689 508.24V512.24ZM430.249 515.541L430.489 538.821L434.489 538.779L434.249 515.499L430.249 515.541ZM432.489 540.8H462.729V536.8H432.489V540.8ZM462.729 540.8C464.025 540.8 465.049 541.825 465.049 543.12H469.049C469.049 539.615 466.234 536.8 462.729 536.8V540.8ZM465.049 543.12V546.48H469.049V543.12H465.049ZM465.049 546.48C465.049 547.628 464.179 548.56 462.729 548.56V552.56C466.08 552.56 469.049 550.132 469.049 546.48H465.049ZM462.729 548.56H432.489V552.56H462.729V548.56ZM430.489 550.56V617.76H434.489V550.56H430.489ZM430.489 617.76C430.489 623.833 432.007 628.764 434.805 632.219C437.637 635.714 441.641 637.52 446.169 637.52V633.52C442.778 633.52 439.942 632.206 437.913 629.701C435.852 627.156 434.489 623.207 434.489 617.76H430.489ZM446.169 637.52C451.583 637.52 455.945 636.032 459.177 633.453C462.405 630.877 464.365 627.325 465.168 623.445L461.251 622.635C460.613 625.715 459.093 628.403 456.682 630.327C454.274 632.248 450.836 633.52 446.169 633.52V637.52ZM464.953 624.021C465.61 622.851 466.768 622.43 467.701 622.561C468.162 622.625 468.511 622.816 468.733 623.054C468.938 623.274 469.129 623.631 469.129 624.24H473.129C473.129 622.689 472.601 621.336 471.658 620.326C470.733 619.334 469.507 618.775 468.257 618.599C465.771 618.25 462.969 619.389 461.466 622.059L464.953 624.021ZM469.129 624.24C469.129 639.303 457.699 654.4 437.289 654.4V658.4C460.079 658.4 473.129 641.337 473.129 624.24H469.129Z" fill="#E7DDD0"/>
    </svg>

    {{ section.settings.image | image_url: width: 700 | image_tag: loading: 'lazy', class: 'blo-floating-image' }}
  </div>

  <div class="blo-soft-text-wrapper {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'heading' -%}
          <h2
            class="blo-soft-title inline-richtext {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
            {{ block.shopify_attributes }}
          >
            {{ block.settings.heading }}
          </h2>
        {%- when 'text' -%}
          <div
            class="blo-soft-text rte {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
            {{ block.shopify_attributes }}
          >
            <p>{{ block.settings.text }}</p>
          </div>
        {%- when 'buttons' -%}
          <div
            class="blo-soft-buttons {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
            {{ block.shopify_attributes }}
          >
            <a
              {% if block.settings.button_link == blank %}
                role="link" aria-disabled="true"
              {% else %}
                href="{{ block.settings.button_link }}"
              {% endif %}
              class="button button--primary"
            >
              {{- block.settings.button_label | escape -}}
            </a>
          </div>
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "BLO Oh So Soft",
  "tag": "section",
  "class": "section blo-oh-so-soft",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "PNG Image"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Image banner",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-banner.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "Give customers details about the banner image(s) or content on the template.",
          "label": "t:sections.image-banner.blocks.text.settings.text.label"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.image-banner.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "BLO Oh So Soft",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}
