{{ 'blo-sections.css' | asset_url | stylesheet_tag }}

<div class="page-width">
  <div class="blo-product-callouts-header">
    <h2>{{ section.settings.title }}</h2>
    <div
      class="rte {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
    >
      <p>{{ section.settings.text }}</p>
    </div>
  </div>

  <div class="blo-product-callouts-image-wrapper">
    {{
      section.settings.image
      | image_url: width: 3840
      | image_tag:
        loading: 'lazy',
        width: section.settings.image.width,
        height: image_height,
        class: image_class,
        sizes: sizes,
        widths: widths
    }}
    {%- for block in section.blocks -%}
      <label
        for="blo-callout-{{block.id}}"
        class="blo-product-callout-wrapper {{block.settings.pin_direction}}"
        style="
            {%- if block.settings.pin_direction == 'top_right' -%}
                top:{{block.settings.vertical_position}}%;
                right:{{block.settings.horizontal_position}}%;
            {%- elsif block.settings.pin_direction == 'top_left' -%}
                top:{{block.settings.vertical_position}}%;
                left:{{block.settings.horizontal_position}}%;
            {%- elsif block.settings.pin_direction == 'bottom_right' -%}
                bottom:{{block.settings.vertical_position}}%;
                right:{{block.settings.horizontal_position}}%;
            {%- elsif block.settings.pin_direction == 'bottom_left' -%}
                bottom:{{block.settings.vertical_position}}%;
                left:{{block.settings.horizontal_position}}%;
          {%- endif -%}
        "
      >
        <input type="checkbox" name="callout" id="blo-callout-{{block.id}}">
        <div class="blo-product-callout-innerwrapper">
          <h6
            class="inline-richtext {{block.settings.pin_direction}} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
          >
            {{ block.settings.block_title }}
            <div class="blo-product-callout-icon">
              {%- render 'icon-plus' -%}
              {%- render 'icon-minus' -%}
            </div>
          </h6>
          <div
            class="rte {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
          >
            <p>{{ block.settings.block_text }}</p>
          </div>
        </div>
        {%- if block.settings.arrow == 'arch' -%}
          {%- render 'blo-handdrawn-arrow-arch' -%}
        {%- elsif block.settings.arrow == 'curly' -%}
          {%- render 'blo-handdrawn-arrow-curly' -%}
        {%- elsif block.settings.arrow == 'wavy' -%}
          {%- render 'blo-handdrawn-arrow-wavy' -%}
        {%- elsif block.settings.arrow == 'bottom_left' -%}
        {%- endif -%}
      </label>
    {%- endfor -%}
  </div>
</div>

{%- style -%}
  .blo-product-callouts .page-width {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
  }
  .blo-product-callouts-header {
    max-width: 500px;
    text-align: center;
    margin: auto;
  }
  .blo-product-callouts-header h2 {
    margin: 0 0 10px 0;
  }
  .blo-product-callouts-header p {
    margin: 0;
  }
  .blo-product-callouts-image-wrapper {
    position: relative;
    max-width: 1000px;
  }
  .blo-product-callouts-image-wrapper img {
    width: 100%;
    height: auto;
  }
  .blo-product-callout-wrapper {
    position: absolute;
    z-index: 1;
    cursor: pointer;
    transform: translateY(-24px);
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .blo-product-callout-wrapper {
    position: absolute;
    z-index: 1;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 232px;
    margin-bottom: 232px;
  }
  .blo-product-callout-innerwrapper {
    max-width: 300px;
    background: var(--tan-Medium);
    border-radius: 24px;
    padding: 10px 20px;
    transition: all 250ms ease-out;
  }
  .blo-product-callout-wrapper input:checked ~ .blo-product-callout-innerwrapper {
    border-radius: var(--blo-corner-radius);
    padding: 30px;
    max-width: 320px;
  }
  .blo-product-callout-wrapper h6 {
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    color: var(--greyscale-Black);
    white-space: nowrap;
  }
  h6.top_left,
  h6.bottom_left {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  h6.top_right,
  h6.bottom_right {
    justify-content: space-between;
  }
  .blo-product-callout-wrapper p {
    margin: 0;
  }
  .blo-product-callout-wrapper .rte {
    display: none;
    margin-top: 10px;
  }
  .blo-product-callout-wrapper input:checked ~ .blo-product-callout-innerwrapper .rte {
    display: block;
  }
  .blo-product-callout-wrapper input {
    display: none;
  }
  .blo-product-callout-icon {
    display: inline-flex;
    border: 2px solid var(--greyscale-Black);
    border-radius: 20px;
    height: 20px;
    width: 20px;
    align-items: center;
    justify-content: center;
  }
  .blo-product-callout-icon svg {
    height: 12px;
    width: 12px;
    margin: 0px;
  }
  .blo-product-callout-icon svg:last-child {
    display: none;
  }
  .blo-product-callout-wrapper
    input:checked
    ~ .blo-product-callout-innerwrapper
    .blo-product-callout-icon
    svg:last-child {
    display: block;
  }
  .blo-product-callout-wrapper
    input:checked
    ~ .blo-product-callout-innerwrapper
    .blo-product-callout-icon
    svg:first-child {
    display: none;
  }
  .blo-product-callout-wrapper.top_right .blo-handdrawn-arrow {
    transform: scale(-1, -1);
  }
  .blo-product-callout-wrapper.top_left .blo-handdrawn-arrow {
    transform: scaleY(-1);
  }
  .blo-product-callout-wrapper.bottom_right .blo-handdrawn-arrow {
    transform: scaleX(-1);
  }
  .blo-product-callout-wrapper.top_right,
  .blo-product-callout-wrapper.top_left {
    transform: translateY(-232px);
  }
  .blo-product-callout-wrapper.bottom_right,
  .blo-product-callout-wrapper.bottom_left {
    flex-direction: column-reverse;
    transform: translateY(232px);
  }
  .blo-product-callout-wrapper.bottom_right,
  .blo-product-callout-wrapper.top_right {
    align-items: flex-end;
  }
  .blo-product-callout-wrapper.bottom_left,
  .blo-product-callout-wrapper.top_left {
    align-items: flex-start;
  }

  @media screen and (max-width: 749px) {
    /* .blo-product-callouts-image-wrapper {
      margin-left: -30px;
      margin-right: -30px;
    } */
  }
{%- endstyle -%}

{% schema %}
{
  "name": "BLO: Product Callouts",
  "tag": "section",
  "class": "section blo-product-callouts blo-edge-texture-wrapper",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "We’ve thought of it so you don’t have to."
    },
    {
      "type": "inline_richtext",
      "id": "text",
      "default": "Lorem ipsum dolor sit amet consectetur",
      "label": "Text"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Product Image"
    }
  ],
  "blocks": [
    {
      "type": "Callout",
      "name": "Callout",
      "settings": [
        {
          "type": "select",
          "id": "pin_direction",
          "label": "Pin Direction",
          "options": [
            {
              "value": "top_right",
              "label": "Top Right"
            },
            {
              "value": "top_left",
              "label": "Top Left"
            },
            {
              "value": "bottom_right",
              "label": "Bottom Right"
            },
            {
              "value": "bottom_left",
              "label": "Bottom Left"
            }
          ],
          "default": "top_right"
        },
        {
          "type": "text",
          "id": "block_title",
          "label": "Feature Name",
          "default": "Feature Name"
        },
        {
          "type": "inline_richtext",
          "id": "block_text",
          "default": "Feature Text",
          "label": "Feature Text"
        },
        {
          "type": "range",
          "id": "horizontal_position",
          "min": -10,
          "max": 110,
          "step": 2,
          "unit": "%",
          "label": "Horizontal Position",
          "default": 50
        },
        {
          "type": "range",
          "id": "vertical_position",
          "min": -10,
          "max": 110,
          "step": 2,
          "unit": "%",
          "label": "Vertical Position",
          "default": 50
        },
        {
          "type": "select",
          "id": "arrow",
          "label": "Arrow Style",
          "options": [
            {
              "value": "arch",
              "label": "Arch"
            },
            {
              "value": "curly",
              "label": "Curly"
            },
            {
              "value": "wavy",
              "label": "Wavy"
            }
          ],
          "default": "arch"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "BLO: Product Callouts"
    }
  ]
}
{% endschema %}
