<div class="page-width section-{{ section.id }}-padding">
  <h2
    class="blo-banner-title inline-richtext {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
    {{ block.shopify_attributes }}
  >
    {{ section.settings.title }}
  </h2>

  {%- for block in section.blocks -%}
    <input
      type="radio"
      id="{{ block.id }}"
      name="blo-toggle-collections"
      {% if forloop.index == 1 %}
        checked
      {% endif %}
    >
  {%- endfor -%}

  <div class="toggle-wrapper {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    {%- for block in section.blocks -%}
      <label class="toggle" for="{{ block.id }}">{{ block.settings.collection_group_title }}</label>
    {%- endfor -%}
  </div>

  <div class="blo-toggle-collections-container">
    {%- for block in section.blocks -%}
      <slider-component class="blo-toggle-collections-row slider-mobile-gutter{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        <ul
          class="collection-list contains-card contains-card--collection{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid grid--5-col-desktop grid--2-col-tablet-down slider slider--tablet grid--peek collection-list--{{ section.blocks.size }}-items"
          id="Slider-{{ section.id }}"
          role="list"
        >
          {%- liquid
            assign columns = section.blocks.size
            if columns > 3
              assign columns = 3
            endif
          -%}
          {%- for collection in block.settings.collection_list -%}
            <li
              id="Slide-{{ section.id }}-{{ forloop.index }}"
              class="collection-list__item grid__item slider__slide {% if collection.featured_image == nil %} collection-list__item--no-media{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              {{ block.shopify_attributes }}
              {% if settings.animations_reveal_on_scroll %}
                data-cascade
                style="--animation-order: {{ forloop.index }};"
              {% endif %}
            >
              {%- assign placeholder_image_index = forloop.index0 | modulo: 4 | plus: 1 -%}
              {%- assign placeholder_image = 'collection-apparel-' | append: placeholder_image_index -%}
              {% render 'card-collection',
                card_collection: collection,
                media_aspect_ratio: section.settings.image_ratio,
                columns: columns,
                placeholder_image: placeholder_image
              %}
            </li>
          {%- endfor -%}
        </ul>
        <div class="slider-buttons no-js-hidden">
          <button
            type="button"
            class="slider-button slider-button--prev"
            name="previous"
            aria-label="{{ 'general.slider.previous_slide' | t }}"
          >
            {% render 'icon-caret' %}
          </button>
          <div class="slider-counter caption">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
            <span class="slider-counter--total">{{ section.blocks.size }}</span>
          </div>
          <button
            type="button"
            class="slider-button slider-button--next"
            name="next"
            aria-label="{{ 'general.slider.next_slide' | t }}"
          >
            {% render 'icon-caret' %}
          </button>
        </div>
      </slider-component>
    {%- endfor -%}
  </div>
</div>

{% style %}
  .blo-toggle-collections h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  .blo-toggle-collections input[type='radio'] {
    display: none;
  }
  .blo-toggle-collections input:nth-of-type(1):checked ~ .toggle-wrapper .toggle:nth-of-type(1),
  .blo-toggle-collections input:nth-of-type(2):checked ~ .toggle-wrapper .toggle:nth-of-type(2),
  .blo-toggle-collections input:nth-of-type(3):checked ~ .toggle-wrapper .toggle:nth-of-type(3),
  .blo-toggle-collections input:nth-of-type(4):checked ~ .toggle-wrapper .toggle:nth-of-type(4),
  .blo-toggle-collections input:nth-of-type(5):checked ~ .toggle-wrapper .toggle:nth-of-type(5) {
    background: var(--greyscale-black, #161616);
    color: var(--tan-light, #efe8de);
  }
  .blo-toggle-collections-row {
    display: none;
  }
  .blo-toggle-collections
    input:nth-of-type(1):checked
    ~ .blo-toggle-collections-container
    .blo-toggle-collections-row:nth-of-type(1),
  .blo-toggle-collections
    input:nth-of-type(2):checked
    ~ .blo-toggle-collections-container
    .blo-toggle-collections-row:nth-of-type(2),
  .blo-toggle-collections
    input:nth-of-type(3):checked
    ~ .blo-toggle-collections-container
    .blo-toggle-collections-row:nth-of-type(3),
  .blo-toggle-collections
    input:nth-of-type(4):checked
    ~ .blo-toggle-collections-container
    .blo-toggle-collections-row:nth-of-type(4),
  .blo-toggle-collections
    input:nth-of-type(5):checked
    ~ .blo-toggle-collections-container
    .blo-toggle-collections-row:nth-of-type(5) {
    display: flex;
  }
  .blo-toggle-collections .toggle-wrapper {
    margin-bottom: 50px;
  }
  .blo-toggle-collections-row {
    flex-direction: column;
  }
  .blo-toggle-collections-row .card--media {
    background: var(--tan-Medium);
  }
  .blo-toggle-collections .toggle-wrapper {
    width: 100%;
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .blo-toggle-collections .toggle-wrapper::-webkit-scrollbar {
    display: none;
  }

  @media screen and (max-width: 750px) {
    .blo-toggle-collections h2 {
      text-align: left;
    }
    .blo-toggle-collections .toggle-wrapper {
      margin-bottom: 30px;
      justify-content: flex-start;
    }
  }
  @media screen and (max-width: 989px) {
    .blo-toggle-collections .page-width {
      padding-left: 0;
      padding-right: 0;
    }
    .blo-banner-title {
      padding-left: 30px;
      padding-right: 30px;
    }
    .toggle-wrapper .toggle:first-child {
      margin-left: 30px;
    }
    .toggle-wrapper .toggle:last-child {
      margin-right: 30px;
    }
    .blo-toggle-collections .grid--peek.slider .grid__item:first-of-type {
      margin-left: 3rem;
    }
    .blo-toggle-collections .slider--tablet:after {
      padding-left: 3rem;
    }
    .blo-toggle-collections .slider.slider--tablet {
      scroll-padding-left: 3rem;
    }
  }
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}

{% schema %}
{
  "name": "BLO: Toggle Collections",
  "tag": "section",
  "class": "section blo-toggle-collections",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "We’ve Got What You’re Looking For."
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 100
    }
  ],
  "blocks": [
    {
      "type": "collection_group",
      "name": "Collection Group",
      "limit": 5,
      "settings": [
        {
          "type": "text",
          "id": "collection_group_title",
          "label": "Collection Group Title"
        },
        {
          "type": "collection_list",
          "id": "collection_list",
          "label": "Collections",
          "limit": 5
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "BLO: Toggle Collections"
    }
  ]
}
{% endschema %}
