{{ 'blo-sections.css' | asset_url | stylesheet_tag }}

{% stylesheet %}
  .blo-africa {
    background: var(--tan-Medium);
  }
  .blo-africa .page-width {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 50px;
  }
  .blo-africa-image-wrapper {
    width: 410px;
  }
  .blo-africa-image-wrapper svg {
    margin-left: -57px;
    width: 350px;
    height: auto;
  }
  @media screen and (min-width: 750px) {
    .blo-africa .page-width {
      flex-direction: row;
      justify-content: space-between;
      gap: 50px;
      padding-top: 160px;
      padding-bottom: 160px;
    }
    .blo-africa-image-wrapper svg {
      width: 554px;
      margin-left: -140px;
    }
    .blo-africa-image-wrapper {
      width: 410px;
    }
  }
{% endstylesheet %}

{% render 'blo-edge-texture', pinDirection: 'top' %}
{% render 'blo-edge-texture', pinDirection: 'bottom' %}

<div class="page-width">
  <div class="blo-africa-image-wrapper">
    <svg width="585" height="620" viewBox="0 0 585 620" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M187.416 0.737685C186.842 0.714821 186.261 0.691677 185.672 0.667969C182.916 1.09616 179.83 1.51655 176.513 1.96821C168.081 3.11662 158.164 4.46721 148.423 6.66221C135.706 9.52477 123.183 13.5372 110.93 18.039C99.0665 22.394 87.5695 27.9724 77.9033 36.3643C57.5699 53.98 37.7492 72.2074 20.5647 93.0282C13.5835 101.469 6.82197 110.252 4.01484 121.018C2.67888 126.141 2.2951 131.541 1.91332 136.914C1.81378 138.314 1.71438 139.713 1.59828 141.104C-0.818288 169.95 -0.598608 198.551 9.58027 226.198C14.8528 240.535 22.9324 253.038 35.4058 262.115C54.0793 275.718 75.8284 281.076 98.1878 283.67C108.89 284.909 119.692 285.311 130.488 285.713C135.674 285.907 140.859 286.1 146.031 286.385C163.704 287.364 179.936 292.331 193.996 303.585C196.779 305.812 197.389 308.087 197.096 311.561C197.046 312.154 196.995 312.747 196.944 313.341C196.302 320.813 195.652 328.373 196.217 335.807C197.218 348.75 202.491 359.907 212.694 368.494C218.65 373.534 224.411 378.868 229.903 384.397C246.746 401.352 254.24 420.754 245.013 444.389C244.646 445.318 245.086 447.031 245.794 447.789C247.991 450.163 247.454 451.998 245.403 454.053C244.549 454.909 243.621 456.206 243.621 457.307C243.597 460.414 243.67 463.619 244.378 466.604C244.667 467.804 244.952 469.007 245.237 470.21C246.884 477.149 248.537 484.115 250.847 490.85C255.655 504.845 260.708 518.791 266.444 532.418C272.205 546.071 278.625 559.454 285.313 572.665C285.804 573.633 286.293 574.603 286.783 575.573C291.462 584.841 296.187 594.2 302.351 602.416C316.24 620.962 336.94 624.02 356.102 612.252C375.873 600.092 393.912 585.559 410.56 569.411C422.423 557.912 432.699 545.116 440.12 530.192C445.929 518.521 449.2 506.215 449.835 493.174C449.933 491.046 450.641 488.526 451.959 486.96C455.567 482.711 459.266 478.539 462.965 474.366C468.426 468.206 473.888 462.046 479.054 455.643C483.399 450.261 487.084 444.095 489.794 437.734C493.64 428.722 491.402 419.307 489.235 410.19L489.135 409.769C487.914 404.622 486.513 399.518 485.112 394.414C483.936 390.13 482.759 385.845 481.69 381.535C479.249 371.797 479.298 362.182 484.253 353.08C493.407 336.297 507.076 323.745 522.649 313.274C534.683 305.2 545.936 296.416 554.724 284.746C561.461 275.816 566.782 266.152 567.807 254.775C568.076 251.594 569.126 249.539 571.518 247.729C577.694 243.056 582.453 237.33 584.455 229.648C586.383 222.259 583.088 217.929 575.521 218.075C573.495 218.124 571.469 218.369 569.492 218.809C566.15 219.54 562.818 220.32 559.487 221.1C554.01 222.383 548.532 223.665 543.007 224.73C532.389 226.761 522.527 226.174 514.57 216.999C499.802 199.97 486.962 181.572 475.539 162.219C465.482 145.19 455.767 127.868 446.955 110.155C442.859 101.944 439.568 93.3346 436.278 84.727C434.607 80.3565 432.937 75.9865 431.162 71.6692C430.666 70.4603 430.275 69.2054 429.884 67.95C428.85 64.6316 427.815 61.3094 424.839 58.8243C418.591 53.6375 411.463 53.0258 403.847 53.662C403.736 53.671 403.625 53.6803 403.513 53.6895C400.613 53.9299 397.309 54.2037 394.864 53.0258C381.463 46.5912 367.769 40.9395 353.294 37.6121C346.362 36.0218 339.015 34.4315 332.058 37.1717C326.248 39.447 320.61 42.4319 315.362 45.8327C304.963 52.6099 294.076 55.4969 281.896 52.0961C279.689 51.4712 277.486 50.8301 275.283 50.1893C272.054 49.2496 268.826 48.3104 265.59 47.4231C247.795 42.5298 235.59 31.3732 228.585 14.3691C226.705 9.8673 223.386 7.00474 218.894 5.2187C209.892 1.63307 200.465 1.25752 187.416 0.737685ZM580.391 470.201C581.03 467.413 581.675 464.597 582.358 461.75C581.724 458.972 581.121 456.197 580.52 453.426C579.198 447.34 577.883 441.28 576.255 435.278C574.864 430.115 570.421 427.179 566.736 428.696C563.562 429.993 560.023 431.73 558.07 434.348C548.965 446.459 536.589 453.848 523.164 459.744C520.137 461.065 518.966 462.998 518.99 465.86C519.039 470.729 520.625 475.084 523.726 478.926C527.924 484.137 527.607 489.911 523.286 494.926C521.626 496.859 520.064 498.914 518.746 501.116C513.962 509.141 512.375 517.362 517.11 526.072C522.359 535.736 539.03 542.587 549.99 541.217C553.481 540.776 556.703 540.091 558.485 536.666C559.007 535.658 559.553 534.657 560.1 533.655C561.622 530.863 563.149 528.064 564.172 525.093C568.225 513.227 572.155 501.288 575.645 489.25C577.455 483.022 578.906 476.687 580.391 470.201Z" fill="#E7DDD0"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M402.915 416.652C406.802 412.892 413.103 412.892 416.99 416.652L419 418.597L421.01 416.652C424.897 412.892 431.198 412.892 435.085 416.652C438.972 420.413 438.972 426.509 435.085 430.27L419.695 445.159C419.308 445.534 418.692 445.534 418.305 445.159L402.915 430.27C399.028 426.509 399.028 420.413 402.915 416.652Z" fill="#A67C3E"/>
    </svg>
  </div>

  <div class="blo-text-block {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'badge' -%}
          <div
            class="inline-richtext {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
          >
            <label class="badge">{{ block.settings.badge }}</label>
          </div>
        {%- when 'heading' -%}
          <h2
            class="blo-text-block-title inline-richtext {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
          >
            {{ block.settings.heading }}
          </h2>
        {%- when 'text' -%}
          <div
            class="blo-text-block-text rte {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
          >
            <p>{{ block.settings.text }}</p>
          </div>
        {%- when 'buttons' -%}
          <div
            class="blo-text-block-buttons {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
          >
            <a
              {% if block.settings.button_link == blank %}
                role="link" aria-disabled="true"
              {% else %}
                href="{{ block.settings.button_link }}"
              {% endif %}
              class="button button--primary"
            >
              {{- block.settings.button_label | escape -}}
            </a>
          </div>
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "BLO Africa",
  "tag": "section",
  "class": "section blo-africa blo-edge-texture-wrapper",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "blocks": [
    {
      "type": "badge",
      "name": "Badge",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "badge",
          "default": "Badge",
          "label": "Badge Text"
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Image banner",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-banner.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "Give customers details about the banner image(s) or content on the template.",
          "label": "t:sections.image-banner.blocks.text.settings.text.label"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.image-banner.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "BLO Africa",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}
