<div class="blo-banner-release-container page-width blo-section-{{ section.id }}-padding {% if section.settings['layout-direction'] == 'layout-right' %}blo-image-on-right{% endif %}">
  <div class="blo-banner-release-media {% if section.settings['image-secondary'] %}has-secondary{%- endif -%}">
    <div class="blo-banner-release-media-primary {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      {% if section.settings['media-type'] == 'image' %}
        {{ section.settings.image | image_url: width: 3200 | image_tag: loading: 'lazy' }}
      {% else %}
        {{
          section.settings.video
          | video_tag: image_size: '1100x', autoplay: true, loop: true, controls: false, muted: true
        }}
      {% endif %}

      {% if section.settings['image-decoration-top-right'] %}
        {{ section.settings['image-decoration-top-right'] | image_url: width: 3200 | image_tag: loading: 'lazy' }}
      {% endif %}

      {% if section.settings['image-decoration-bottom-left'] %}
        {{ section.settings['image-decoration-bottom-left'] | image_url: width: 3200 | image_tag: loading: 'lazy' }}
      {% endif %}
    </div>
    <div class="blo-banner-release-media-secondary {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      {% if section.settings['image-secondary'] %}
        {{ section.settings['image-secondary'] | image_url: width: 600 | image_tag: loading: 'lazy' }}
      {% endif %}
    </div>
  </div>
  <div class="blo-banner-release-text {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'badge' -%}
          <div>
            <div
              class="blo-badge inline-richtext {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
              {{ block.shopify_attributes }}
            >
              {{ block.settings.text }}
            </div>
          </div>
        {%- when 'heading' -%}
          <h1
            class="blo-banner-title inline-richtext {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
            {{ block.shopify_attributes }}
          >
            {{ block.settings.heading }}
          </h1>
        {%- when 'text' -%}
          <div
            class="blo-banner-text rte {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
            {{ block.shopify_attributes }}
          >
            <p>{{ block.settings.text }}</p>
          </div>
        {%- when 'table-row' -%}
          <div
            class="blo-banner-release-row rte {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %} {% if block.settings.is-header == true %} blo-banner-release-row-header {% endif %}"
            {{ block.shopify_attributes }}
          >
            <div class="blo-banner-release-row-content">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 10L8.5 13.5L14 6" stroke="#335348" stroke-width="1.9"/>
              </svg>
              <p>{{ block.settings['text-pros'] }}</p>
            </div>
            <div class="blo-banner-release-row-content">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line x1="6.67175" y1="6.32825" x2="13.7428" y2="13.3993" stroke="#C27D4C" stroke-width="1.9"/>
                <line x1="13.6718" y1="6.67175" x2="6.60068" y2="13.7428" stroke="#C27D4C" stroke-width="1.9"/>
              </svg>
              <p>{{ block.settings['text-cons'] }}</p>
            </div>
          </div>
        {%- when 'buttons' -%}
          <div
            class="blo-banner-release-buttons {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
            {{ block.shopify_attributes }}
          >
            <a
              {% if block.settings.button_link == blank %}
                role="link" aria-disabled="true"
              {% else %}
                href="{{ block.settings.button_link }}"
              {% endif %}
              class="button button--secondary"
            >
              {{- block.settings.button_label | escape -}}
            </a>
          </div>
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

{% style %}
    .blo-banner-release {
      overflow: hidden;
      background-color: {{ section.settings.color-background }};
    }
      .blo-banner-release-container {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 150px;
      }
      .blo-banner-release-container.blo-image-on-right {
          flex-direction: row-reverse;
      }
      .blo-banner-release-media {
          width: 50%;
          position: relative;
          font-size: 0;
      }
      .blo-banner-release-media img,
      .blo-banner-release-media video {
          border-radius: var(--blo-corner-radius);
          width: 100%;
          height: auto;
      }
      .blo-banner-release-media.has-secondary{
        padding-right: 120px;
        padding-bottom: 60px;
      }
      .blo-banner-release-media-primary {
        position: relative;
      }
      .blo-banner-release-media.has-secondary .blo-banner-release-media-secondary {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 190px;
      }
      .blo-banner-release-media-secondary {
        box-shadow: var(--blo-shadow);
      }
      .blo-banner-release-decoration-top {
        position: absolute;
        top: -102px;
        right: -160px;
      }
      .blo-banner-release-decoration-bottom {
        position: absolute;
        bottom: -102px;
        left: -152px;
      }
      .blo-banner-release-text {
        display: flex;
        flex-direction: column;
        gap:10px;
        width: 50%;
      }
      .blo-banner-release-text .button {
          margin-top: 20px;
          color: {{section.settings.color-background}};
          border-color: {{section.settings.color-text}};
          background-color: {{section.settings.color-text}};
          box-shadow: none;
      }
      .blo-banner-release-text .button:before,
      .blo-banner-release-text .button:after {
          box-shadow: none !important;
      }
      .blo-banner-release-text h1,
      .blo-banner-release-text p {
        margin-bottom: 0px;
        color: {{section.settings.color-text}};
      }
      .blo-banner-release-row {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
      }
      .blo-banner-text + .blo-banner-release-row {
          margin-top: 40px;
      }
      .blo-banner-release-row-content {
          width: 50%;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 5px;
          padding: 12px 0;
          color: var(--blo-pine);
      }
      .blo-banner-release-row-content svg path {
          stroke: var(--blo-pine);
      }
      .blo-badge {
        display: inline-block;
        box-sizing: border-box;
        padding: 2px 9px 5px;
        border: 1.9px solid {{section.settings.color-badge}};
        border-radius: 20px;
        color: {{section.settings.color-badge}};
        font-size: 14px;
        line-height: 130%;
      }


      @media screen and (max-width: 989px) {
        .blo-banner-release-container,
        .blo-banner-release-container.blo-image-on-right {
            flex-direction: column;
            gap: 40px;
        }
        .blo-banner-release-media {
            width: 100%;
        }
        .blo-banner-release-text {
            width: 100%;
        }
        .blo-banner-release-decoration-top {
          width: 200px;
          top: -126px;
          right: -90px;
        }
        .blo-banner-release-decoration-bottom {
          width: 200px;
          bottom: -126px;
          left: -70px;
        }
    }



    .blo-section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }
    @media screen and (min-width: 750px) {
      .blo-section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }

  {% if section.settings.image-background-desktop %}
    @media screen and (min-width: 990px) {
        .blo-banner-release {
          background-image: url(  {{ section.settings.image-background-desktop | image_url: width: 3200 }} );
          background-size: cover;
          background-repeat: no-repeat;
          background-position: {{ section.settings.background_image_desktop_pin }};
        }
      }
    {% endif %}

    {% if section.settings.image-background-mobile %}
      @media screen and (max-width: 989px) {
        .blo-banner-release {
          background-image: url(  {{ section.settings.image-background-mobile | image_url: width: 900 }} );
          background-size: cover;
          background-repeat: no-repeat;
          background-position: {{ section.settings.background_image_mobile_pin }};
        }
      }
    {% endif %}
{% endstyle %}

{% schema %}
{
  "name": "BLO: Banner (Release)",
  "tag": "section",
  "class": "section blo-banner-release",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "layout-direction",
      "label": "Show Image On:",
      "options": [
        {
          "value": "layout-left",
          "label": "Left Side"
        },
        {
          "value": "layout-right",
          "label": "Right Side"
        }
      ],
      "default": "layout-left"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "select",
      "id": "media-type",
      "label": "Media Type",
      "options": [
        {
          "value": "image",
          "label": "Image"
        },
        {
          "value": "video",
          "label": "Video"
        }
      ],
      "default": "image"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Video"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Main Image"
    },
    {
      "type": "image_picker",
      "id": "image-secondary",
      "label": "Secondary Image (optional)"
    },
    {
      "type": "header",
      "content": "Decoration"
    },
    {
      "type": "image_picker",
      "id": "image-decoration-top-right",
      "label": "Top Right Decoration (optional)"
    },
    {
      "type": "range",
      "id": "image-decoration-top",
      "min": -100,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Top Positioning",
      "default": 0
    },
    {
      "type": "range",
      "id": "image-decoration-right",
      "min": -100,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Right Positioning",
      "default": 0
    },
    {
      "type": "image_picker",
      "id": "image-decoration-bottom-left",
      "label": "Bottom Left Decoration (optional)"
    },
    {
      "type": "range",
      "id": "image-decoration-bottom",
      "min": -100,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Bottom Positioning",
      "default": 0
    },
    {
      "type": "range",
      "id": "image-decoration-left",
      "min": -100,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Left Positioning",
      "default": 0
    },
    {
      "type": "header",
      "content": "Backgound Image (Optional)"
    },
    {
      "type": "image_picker",
      "id": "image-background-mobile",
      "label": "Image Background (Mobile)"
    },
    {
      "type": "select",
      "id": "background_image_mobile_pin",
      "label": "Mobile Pin Direction",
      "options": [
        {
          "value": "top left",
          "label": "Top Left"
        },
        {
          "value": "top center",
          "label": "Top Center"
        },
        {
          "value": "top right",
          "label": "Top Right"
        },
        {
          "value": "center left",
          "label": "Center Left"
        },
        {
          "value": "center center",
          "label": "Center Center"
        },
        {
          "value": "center right",
          "label": "Center Right"
        },
        {
          "value": "bottom left",
          "label": "Bottom Left"
        },
        {
          "value": "bottom center",
          "label": "Bottom Center"
        },
        {
          "value": "bottom right",
          "label": "Bottom Right"
        }
      ],
      "default": "center center"
    },
    {
      "type": "image_picker",
      "id": "image-background-desktop",
      "label": "Image Background (Desktop)"
    },
    {
      "type": "select",
      "id": "background_image_desktop_pin",
      "label": "Desktop Pin Direction",
      "options": [
        {
          "value": "top left",
          "label": "Top Left"
        },
        {
          "value": "top center",
          "label": "Top Center"
        },
        {
          "value": "top right",
          "label": "Top Right"
        },
        {
          "value": "center left",
          "label": "Center Left"
        },
        {
          "value": "center center",
          "label": "Center Center"
        },
        {
          "value": "center right",
          "label": "Center Right"
        },
        {
          "value": "bottom left",
          "label": "Bottom Left"
        },
        {
          "value": "bottom center",
          "label": "Bottom Center"
        },
        {
          "value": "bottom right",
          "label": "Bottom Right"
        }
      ],
      "default": "center center"
    },
    {
      "type": "header",
      "content": "Options"
    },
    {
      "type": "color",
      "id": "color-background",
      "label": "Background Color",
      "default": "#F5F5EE"
    },
    {
      "type": "color",
      "id": "color-text",
      "label": "Text Color",
      "default": "#285448"
    },
    {
      "type": "color",
      "id": "color-badge",
      "label": "Badge Color",
      "default": "#CE7941"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 100
    }
  ],
  "blocks": [
    {
      "type": "badge",
      "name": "Badge",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "New!",
          "label": "Badge Text"
        }
      ]
    },
    {
      "type": "heading",
      "name": "heading",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Image banner",
          "label": "Heading"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-banner.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "Give customers details about the banner image(s) or content on the template.",
          "label": "Text"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.image-banner.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "Button Label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "BLO: Banner (Release)"
    }
  ]
}
{% endschema %}
