<div class="blo-image-and-text-container page-width blo-section-{{ section.id }}-padding {% if section.settings['layout-direction'] == 'layout-right' %}blo-image-on-right{% endif %}">
  <div class="blo-image-and-text-media {% if section.settings['image-secondary'] %}has-secondary{%- endif -%}">
    <div class="blo-image-and-text-media-primary">
      {% if section.settings['media-type'] == 'image' %}
        {{ section.settings.image | image_url: width: 3200 | image_tag: loading: 'lazy' }}
      {% else %}
        {{
          section.settings.video
          | video_tag: image_size: '1100x', autoplay: true, loop: true, controls: false, muted: true
        }}
      {% endif %}

      {% if section.settings.show_decoration == true %}
        <svg
          class="blo-image-and-text-decoration-top"
          width="343"
          height="319"
          viewBox="0 0 343 319"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_5316_27892)">
          <path d="M326.937 202.472C320.81 197.759 314.057 194.537 306.719 192.294C298.219 189.703 289.573 189.785 280.822 190.216C270.937 190.713 262.038 194.099 253.887 199.314C249.348 202.214 245.384 206.031 241.237 209.525C237.644 212.545 234.284 215.884 230.556 218.729C226.105 222.139 221.86 225.862 215.869 226.748C209.802 227.648 203.815 228.771 197.753 227.019C191.419 225.18 186.053 221.683 181.41 217.026C179.871 215.487 178.182 214.072 176.826 212.372C174.543 209.522 171.61 207.205 170.655 203.311C168.665 195.207 169.026 187.244 170.846 179.161C172.069 173.749 174.272 168.752 177.27 164.28C182.181 156.928 186.365 149.232 189.316 140.956C191.025 136.138 191.94 131 192.828 125.932C193.511 122.004 194.138 117.937 193.801 114.014C193.374 108.985 192.26 103.957 190.887 99.0887C189.835 95.3478 188.519 91.4176 186.283 88.325C180.118 79.8155 173.541 71.7419 164.65 65.5723C156.654 60.0124 148.268 55.7194 138.97 53.1304C132.677 51.373 126.335 51.558 119.783 52.3481C108.025 53.7756 97.6271 58.186 88.2892 65.0784C82.9504 69.0258 78.3525 73.9533 73.1694 78.1249C67.9234 82.3531 62.4925 86.317 55.8648 88.3718C51.2811 89.7959 46.6119 91.1171 41.9708 89.9622C36.3645 88.5608 30.9227 86.4224 25.5177 84.3147C24.0825 83.7527 22.8983 82.276 21.8592 80.999C20.8307 79.7466 20.0739 79.5498 19.0506 80.8641C17.4997 82.8454 16.0666 84.9098 14.4698 86.8527C10.3917 91.7939 6.26615 96.6799 1.87441 101.921C3.21545 103.248 4.15283 104.721 5.48944 105.419C12.0378 108.828 18.4296 112.872 25.3921 115.097C33.1237 117.561 41.2827 119.57 49.608 118.547C55.1418 117.873 60.7433 117.098 66.0298 115.451C71.3915 113.788 76.5883 111.315 81.5175 108.603C86.1149 106.081 90.5129 103.032 94.6004 99.7394C100.759 94.7762 106.137 88.8619 113.21 85.0082C117.833 82.4925 122.716 81.1781 127.85 82.0431C135.252 83.2776 142.471 85.4209 148.627 89.8765C152.803 92.8915 157.473 95.6335 159.581 100.743C160.908 103.933 162.158 107.215 162.946 110.562C163.529 113.035 163.13 115.731 163.474 118.285C164.061 122.637 163.913 127.121 161.963 130.846C156.332 141.611 149.854 151.915 144.752 162.982C140.883 171.364 139.316 180.096 139.99 189.192C140.426 195.104 141.311 201.001 142.37 206.841C142.955 210.097 143.919 213.42 145.411 216.357C148.792 222.987 151.971 229.839 157.62 234.994C162.112 239.086 166.136 243.755 171.694 246.538C173.357 247.369 175.047 248.129 176.732 248.916C181.422 251.112 185.931 254.234 190.866 255.26C197.171 256.575 203.832 256.345 210.35 256.527C219.068 256.77 227.344 254.221 235.332 251.213C239.487 249.648 243.271 246.773 246.798 243.963C251.349 240.34 255.279 235.931 259.868 232.355C264.688 228.598 269.869 225.268 275.076 222.038C280.153 218.888 285.846 218.377 291.663 219.377C296.506 220.217 300.894 222.159 304.991 224.952C308.201 227.143 318.025 234.53 321.051 236.941L341.346 216.451C339.391 214.813 328.957 204.07 326.914 202.499" fill="#98B5CC"/>
          <path d="M319.516 222.515C320.885 224.069 322.687 223.97 324.044 222.779C325.433 221.569 325.59 219.778 324.436 218.452C324.248 218.248 324.043 218.045 323.618 217.751L324.629 216.973L326.879 219.546L328.228 218.364L324.882 214.545L321.006 217.53L321.36 219.14C321.969 219.009 322.5 219.048 322.906 219.513C323.351 220.027 323.404 220.821 322.734 221.416C322.134 221.945 321.411 221.932 320.891 221.34C320.579 220.985 320.371 220.451 320.705 219.809L319.155 218.714C318.316 220.088 318.543 221.42 319.516 222.515ZM314.318 216.972L315.668 218.213L321.93 211.431L320.699 210.289C319.765 210.882 318.581 210.859 317.621 210.085L316.357 211.463C316.991 212.01 317.719 212.354 318.525 212.436L314.344 216.979L314.318 216.972ZM309.488 211.269C308.829 210.826 308.934 209.805 310.032 208.178C311.159 206.498 312.055 206.062 312.706 206.497C313.356 206.933 313.283 207.934 312.155 209.598C311.057 211.224 310.156 211.703 309.496 211.26M308.481 212.769C310.226 213.95 312.016 213.138 313.693 210.652C315.375 208.141 315.448 206.171 313.705 205.007C311.96 203.826 310.161 204.631 308.478 207.142C306.802 209.627 306.729 211.597 308.481 212.769ZM298.517 208.216L304.241 210.278L304.884 208.504L301.486 207.282C301.997 206.804 302.678 206.531 303.588 206.247C305.64 205.607 306.199 204.716 306.443 204.015C306.956 202.601 306.413 201.161 304.657 200.534C302.954 199.919 301.488 200.55 300.725 202.113L302.335 203.119C302.687 202.289 303.27 201.965 304.025 202.239C304.588 202.444 304.861 202.845 304.657 203.424C304.458 203.96 303.957 204.353 302.063 204.953C300.028 205.592 299.183 206.805 298.543 208.222M285.906 208.35L292.479 207.796L292.324 205.948L287.599 206.347L287.431 204.348L291.643 204.002L291.49 202.171L287.288 202.524L287.133 200.77L291.749 200.388L291.596 198.557L285.124 199.102L285.909 208.384L285.906 208.35ZM280.051 210.396C282.003 209.782 283.1 208.249 283.207 206.182L281.307 206.324C281.219 207.454 280.561 208.277 279.485 208.61C278.004 209.072 276.605 208.243 276.085 206.589C275.553 204.893 276.248 203.319 277.802 202.825C278.737 202.53 279.537 202.732 280.319 203.513L281.959 202.34C280.767 200.966 279.031 200.464 277.261 201.028C274.673 201.843 273.393 204.489 274.255 207.226C275.103 209.906 277.503 211.199 280.068 210.395M267.237 216.048L268.905 215.195L266.207 209.95L272.295 213.443L273.807 212.664L269.549 204.377L267.899 205.228L270.587 210.465L264.516 206.971L262.979 207.761L267.237 216.048ZM263.195 218.691L264.79 217.7L259.869 209.795L258.273 210.786L263.195 218.691ZM258.074 222.508C259.816 221.25 260.319 219.531 259.351 218.188C258.517 217.021 257.045 216.819 254.782 217.562C253.253 218.063 252.712 218.093 252.451 217.734C252.16 217.334 252.469 216.78 253.18 216.267C253.956 215.714 254.574 215.685 255.218 216.147L256.55 214.669C255.194 213.565 253.791 213.561 252.184 214.714C250.45 215.964 249.943 217.538 250.862 218.809C251.686 219.952 253.111 220.115 255.321 219.342C256.724 218.862 257.486 218.829 257.796 219.26C258.126 219.724 257.785 220.485 256.962 221.076C256.09 221.706 255.324 221.688 254.532 220.993L253.304 222.402C254.654 223.736 256.349 223.766 258.075 222.525M237.243 238.175C239.062 237.012 239.652 235.319 238.756 233.927C237.986 232.72 236.526 232.449 234.226 233.069C232.673 233.486 232.121 233.492 231.885 233.122C231.61 232.704 231.953 232.164 232.693 231.691C233.498 231.178 234.11 231.175 234.733 231.681L236.139 230.282C234.838 229.113 233.437 229.033 231.779 230.097C229.978 231.259 229.391 232.798 230.238 234.117C230.997 235.3 232.421 235.54 234.658 234.884C236.093 234.477 236.841 234.479 237.136 234.929C237.441 235.403 237.065 236.151 236.212 236.702C235.303 237.283 234.55 237.231 233.797 236.49L232.494 237.82C233.774 239.22 235.451 239.345 237.254 238.2M227.94 243.237C229.676 242.395 230.396 240.734 229.419 238.712L226.75 233.209L225.078 234.011L227.759 239.555C228.238 240.55 227.839 241.231 227.138 241.565C226.502 241.876 225.849 241.798 225.316 241.054L223.771 242.04C224.826 243.69 226.407 243.984 227.932 243.246M215.951 241.565L215.357 239.645L217.169 239.086C217.806 238.885 218.337 239.128 218.517 239.715C218.696 240.303 218.392 240.814 217.763 241.006L215.951 241.565ZM215.779 247.327L217.567 246.778L216.497 243.319L218.317 242.751C220.088 242.203 220.791 240.637 220.318 239.131C219.856 237.651 218.442 236.747 216.63 237.306L213.022 238.423L215.787 247.317L215.779 247.327ZM201.819 246.815C200.31 246.769 199.236 245.478 199.293 243.714C199.345 241.992 200.412 240.699 202.015 240.745C203.626 240.798 204.587 242.15 204.534 243.872C204.479 245.654 203.327 246.86 201.826 246.805M201.76 248.656C204.42 248.744 206.36 246.746 206.454 243.949C206.543 241.196 204.825 238.976 202.072 238.887C199.301 238.8 197.421 240.895 197.341 243.656C197.247 246.453 199.092 248.577 201.76 248.656ZM189.674 244.434C188.239 243.965 187.576 242.426 188.125 240.745C188.669 239.108 190.048 238.17 191.571 238.665C193.103 239.167 193.642 240.744 193.097 242.381C192.541 244.071 191.093 244.904 189.674 244.434ZM189.097 246.185C191.628 247.024 194.057 245.654 194.928 242.993C195.786 240.385 194.773 237.771 192.146 236.897C189.512 236.033 187.117 237.511 186.261 240.136C185.39 242.797 186.55 245.347 189.088 246.177M177.883 238.35L178.989 236.527L180.803 237.625C181.692 238.167 181.95 238.68 181.556 239.318C181.171 239.964 180.594 239.981 179.705 239.439L177.891 238.341L177.883 238.35ZM179.932 234.973L180.793 233.554L182.221 234.423C183.127 234.964 183.478 235.477 183.182 235.979C182.885 236.464 182.267 236.399 181.369 235.85L179.941 234.981L179.932 234.973ZM175.338 238.982L178.731 241.029C180.455 242.068 182.268 241.806 183.129 240.387C183.642 239.551 183.643 238.599 183.088 237.9C183.786 237.906 184.42 237.485 184.858 236.758C185.688 235.375 185.161 234.028 183.384 232.96L180.151 231.001L175.336 238.966L175.338 238.982ZM165.62 230.48L166.989 231.737L169.928 228.528L168.274 232.907L169.595 234.108L173.75 232.059L170.843 235.247L172.212 236.504L178.491 229.626L177.17 228.425L170.636 231.636L173.213 224.813L171.892 223.611L165.603 230.482L165.62 230.48ZM163.324 220.916L166.324 220.039L164.68 222.709L163.307 220.917L163.324 220.916ZM157.874 220.614L159.056 222.167L161.444 221.481L163.655 224.38L162.344 226.485L163.516 228.014L168.723 219.488L167.482 217.854L157.874 220.614ZM155.725 211.954L157.673 211.103L158.515 213.043C158.931 214.001 158.836 214.562 158.149 214.86C157.453 215.168 156.974 214.845 156.558 213.887L155.716 211.947L155.725 211.954ZM159.351 210.368L160.873 209.707L161.544 211.237C161.969 212.203 161.957 212.833 161.432 213.049C160.908 213.283 160.437 212.857 160.021 211.899L159.351 210.368ZM153.285 210.988L154.871 214.614C155.671 216.456 157.309 217.298 158.823 216.629C159.715 216.235 160.277 215.472 160.222 214.567C160.795 214.984 161.544 215.003 162.33 214.662C163.804 214.022 164.156 212.614 163.325 210.715L161.814 207.261L153.285 210.988Z" fill="#DEE3EB"/>
          <path d="M150.428 195.268L150.414 197.131L157.882 197.186L157.859 200.01L159.705 200.026L159.758 192.524L157.912 192.508L157.889 195.333L150.421 195.277L150.428 195.268ZM151.581 183.563L151.326 185.396L155.155 185.917L154.617 189.841L156.441 190.088L156.979 186.164L158.717 186.402L158.086 190.92L159.91 191.168L160.786 184.809L151.561 183.531L151.581 183.563ZM154.954 176.312C155.335 174.851 156.832 174.09 158.547 174.542C160.209 174.982 161.234 176.294 160.828 177.86C160.413 179.418 158.88 180.055 157.217 179.615C155.486 179.164 154.581 177.765 154.963 176.32M153.171 175.849C152.497 178.424 154.004 180.765 156.702 181.479C159.365 182.18 161.913 181.003 162.613 178.34C163.32 175.651 161.698 173.355 159.027 172.664C156.312 171.951 153.845 173.273 153.163 175.858M156.576 165.204C155.845 167.232 156.403 168.934 157.966 169.493C159.318 169.986 160.636 169.309 162.085 167.43C163.061 166.154 163.498 165.818 163.92 165.967C164.385 166.139 164.45 166.771 164.148 167.596C163.819 168.492 163.334 168.867 162.541 168.843L162.281 170.813C164.02 170.957 165.182 170.166 165.861 168.312C166.593 166.301 166.122 164.719 164.647 164.186C163.32 163.7 162.046 164.382 160.673 166.262C159.784 167.454 159.178 167.915 158.677 167.73C158.141 167.531 157.993 166.719 158.333 165.754C158.702 164.736 159.338 164.331 160.377 164.452L160.605 162.596C158.74 162.267 157.325 163.191 156.601 165.193M163.34 149.842L162.555 151.544L166.596 153.414L169.644 158.39L170.523 156.502L168.548 153.285L172.266 152.745L173.159 150.821L167.381 151.713L163.349 149.85L163.34 149.842ZM173.331 142.841L174.772 143.564L173.882 145.334C173.563 145.957 173.083 146.195 172.674 145.993C172.238 145.768 172.146 145.207 172.442 144.611L173.331 142.841ZM168.939 138.536L168.099 140.191L171.676 142.001L171.241 142.855C170.524 144.27 167.767 142.881 166.664 143.004L165.73 144.846C168.015 144.823 169.249 145.904 170.407 145.156C170.32 146.286 170.839 147.158 171.765 147.637C173.091 148.311 174.656 147.842 175.496 146.186L177.241 142.743L168.932 138.545L168.939 138.536ZM172.121 130.172L169.853 136.364L171.601 137.001L173.23 132.539L175.119 133.231L173.667 137.201L175.398 137.839L176.85 133.869L178.501 134.471L176.913 138.828L178.644 139.466L180.878 133.369L172.138 130.17L172.121 130.172ZM173.213 123.947L172.915 125.775L180.28 126.979L179.82 129.765L181.639 130.055L182.848 122.647L181.029 122.357L180.569 125.143L173.203 123.939L173.213 123.947ZM173.507 115.522L173.568 117.37L181.035 117.128L181.123 119.951L182.97 119.89L182.726 112.389L180.878 112.45L180.965 115.273L173.498 115.515L173.507 115.522ZM171.974 107.676C172.489 109.764 174.021 110.938 176.391 110.346L182.116 108.941L181.667 107.127L175.918 108.543C174.729 108.844 174.034 108.293 173.77 107.228C173.506 106.163 173.909 105.422 175.09 105.131L180.831 103.724L180.382 101.91L174.675 103.315C172.278 103.9 171.469 105.612 171.974 107.676ZM169.792 96.5198L171.717 95.602L172.633 97.5104C173.081 98.4484 173.012 99.0155 172.328 99.3479C171.651 99.6711 171.156 99.3661 170.708 98.4281L169.792 96.5198ZM173.357 94.82L174.858 94.1096L175.578 95.6187C176.035 96.5644 176.039 97.1931 175.534 97.4416C175.02 97.6825 174.543 97.2825 174.085 96.3368L173.366 94.8276L173.357 94.82ZM167.318 95.6498L169.027 99.2223C169.893 101.042 171.559 101.813 173.051 101.095C173.932 100.677 174.467 99.8904 174.379 98.9886C174.966 99.3873 175.722 99.3802 176.488 99.0066C177.941 98.3175 178.24 96.8971 177.353 95.0287L175.727 91.6189L167.316 95.6329L167.318 95.6498ZM153.738 81.1296C155.481 82.3871 157.276 82.3138 158.246 80.9702C159.086 79.7996 158.805 78.3453 157.38 76.4479C156.416 75.1558 156.218 74.6462 156.475 74.2835C156.763 73.8841 157.393 73.9901 158.101 74.5057C158.872 75.0582 159.102 75.6415 158.863 76.3937L160.683 77.1852C161.287 75.5509 160.846 74.2127 159.249 73.0614C157.515 71.8117 155.859 71.8302 154.943 73.1095C154.118 74.2617 154.412 75.6639 155.857 77.5001C156.76 78.6786 157.044 79.3847 156.725 79.8208C156.4 80.2829 155.56 80.204 154.743 79.6129C153.863 78.985 153.646 78.2561 154.053 77.2851L152.332 76.5613C151.505 78.2748 152.004 79.8799 153.745 81.1205M143.125 75.3924L149.186 78.0032L149.921 76.3064L145.564 74.4208L146.362 72.5739L150.241 74.2466L150.975 72.5497L147.096 70.8771L147.795 69.2599L152.054 71.0946L152.789 69.3977L146.833 66.8286L143.15 75.3817L143.125 75.3924ZM133.733 73.2876L135.56 73.6621L136.733 67.8804L139.299 74.4206L140.969 74.7578L142.834 65.634L141.017 65.2672L139.842 71.032L137.295 64.5073L135.598 64.1638L133.733 73.2876ZM127.332 71.6418C125.822 71.673 124.677 70.4478 124.64 68.683C124.599 66.961 125.585 65.616 127.197 65.5759C128.808 65.5359 129.841 66.8389 129.883 68.5608C129.921 70.3426 128.842 71.6107 127.341 71.6495M127.384 73.4819C130.047 73.4171 131.877 71.3261 131.818 68.5263C131.753 65.7693 129.917 63.653 127.161 63.7175C124.387 63.7835 122.625 65.9789 122.699 68.7436C122.759 71.5435 124.72 73.5466 127.393 73.4895M110.086 76.8599L116.368 74.8439L115.804 73.0746L111.282 74.5188L110.671 72.6006L114.688 71.3113L114.126 69.5588L110.108 70.8481L109.57 69.1784L113.985 67.7692L113.423 66.0167L107.247 67.9976L110.095 76.8675L110.086 76.8599ZM102.484 80.5986L108.299 77.7059L107.472 76.0447L103.336 78.1094L100.01 71.4322L98.3413 72.2679L102.494 80.6063L102.484 80.5986ZM96.9364 84.1988L98.4878 83.1865L94.3927 76.9427L96.755 75.3914L95.7442 73.8569L89.4681 77.9718L90.4789 79.5063L92.8413 77.955L96.9364 84.1988ZM89.9745 89.5983L91.4006 88.4185L86.6433 82.6666L88.8224 80.8679L87.6518 79.4495L81.8676 84.2266L83.0382 85.645L85.2173 83.8463L89.9745 89.5983ZM84.5997 94.3903L86.0029 93.1446L79.8215 86.1836L78.4182 87.4294L84.6074 94.3811L84.5997 94.3903ZM76.5636 100.139L81.92 96.4881L80.8754 94.9566L77.0582 97.5543L72.8601 91.396L71.3209 92.4497L76.5636 100.139ZM61.9562 106.366L68.1917 104.201L67.5785 102.453L63.1003 104.012L62.44 102.116L66.4318 100.727L65.8278 98.9863L61.8361 100.375L61.2564 98.7177L65.6365 97.2011L65.0325 95.4607L58.9045 97.5905L61.9577 106.383L61.9562 106.366ZM54.257 107.742L55.4151 107.572L57.3643 97.8623L55.4255 98.1437L54.2779 104.025L51.4651 98.7308L49.5263 99.0123L54.2387 107.726L54.257 107.742ZM42.6992 103.915L43.9505 101.042L44.9513 104.006L42.7069 103.906L42.6992 103.915ZM38.9702 107.899L40.9248 107.99L41.923 105.718L45.5579 105.873L46.335 108.228L48.2636 108.313L45.0497 98.8544L42.9938 98.7721L38.9548 107.918L38.9702 107.899ZM32.1842 100.541L32.5043 98.9657L34.4428 99.3559C35.1355 99.4988 35.4855 99.9015 35.3969 100.343C35.3036 100.827 34.7893 101.068 34.1227 100.931L32.1842 100.541ZM29.2073 105.921L31.0247 106.288L31.8174 102.358L32.7521 102.548C34.3014 102.862 33.6921 105.882 34.1232 106.915L36.1567 107.323C35.5295 105.125 36.2403 103.643 35.2171 102.739C36.3369 102.521 37.0381 101.796 37.2448 100.766C37.5416 99.3122 36.6715 97.9269 34.8449 97.5523L31.0629 96.7892L29.2241 105.919L29.2073 105.921ZM21.2566 101.164L21.998 99.1609L23.9923 99.8946C24.968 100.259 25.3056 100.714 25.0537 101.425C24.785 102.137 24.2342 102.253 23.2509 101.898L21.2566 101.164ZM22.6298 97.4561L23.2059 95.8922L24.779 96.4761C25.7715 96.8391 26.2104 97.285 26.0111 97.8211C25.8119 98.3572 25.1862 98.3953 24.2028 98.04L22.6298 97.4561ZM18.8709 102.259L22.5883 103.64C24.4692 104.341 26.2096 103.737 26.7781 102.182C27.1133 101.26 26.9457 100.323 26.2665 99.7536C26.9614 99.6329 27.501 99.1008 27.796 98.3012C28.3598 96.7895 27.5812 95.5745 25.639 94.8532L22.0977 93.5418L18.8724 102.276L18.8709 102.259Z" fill="#DEE3EB"/>
          <path d="M167.016 83.9457C167.165 84.0856 167.295 84.2102 167.417 84.3439C167.548 84.4853 167.649 84.6634 167.693 84.8721C167.696 84.9058 167.716 84.9381 167.719 84.9718C167.772 85.1881 167.756 85.3935 167.631 85.6171C167.6 85.6538 167.562 85.6997 167.523 85.7456C167.431 85.8557 167.32 85.9505 167.217 86.036C167.044 86.1874 166.869 86.3218 166.663 86.3994C166.565 86.4421 166.464 86.451 166.37 86.4508C166.217 86.4473 166.065 86.4607 165.918 86.4311C165.692 86.383 165.513 86.2798 165.38 86.1215C165.295 86.0185 165.218 85.9232 165.133 85.8203C165.038 85.7096 164.992 85.5777 164.955 85.4365C164.911 85.2278 164.9 85.0162 164.915 84.7939C164.928 84.5548 165.01 84.3266 165.17 84.117C165.27 83.9976 165.379 83.886 165.497 83.7821C165.719 83.5925 165.946 83.564 166.185 83.577C166.39 83.5929 166.566 83.6623 166.736 83.7579C166.843 83.8164 166.935 83.8933 167.024 83.9365" fill="#DEE3EB"/>
          <path d="M244.977 225.831C245.125 225.971 245.255 226.095 245.378 226.229C245.509 226.37 245.61 226.548 245.654 226.757C245.657 226.791 245.677 226.823 245.68 226.857C245.733 227.073 245.717 227.279 245.592 227.502C245.561 227.539 245.523 227.585 245.484 227.631C245.392 227.741 245.281 227.835 245.178 227.921C245.005 228.072 244.83 228.207 244.624 228.284C244.526 228.327 244.424 228.336 244.331 228.336C244.178 228.332 244.026 228.346 243.879 228.316C243.653 228.268 243.474 228.165 243.341 228.006C243.256 227.904 243.179 227.808 243.094 227.705C242.999 227.595 242.953 227.463 242.915 227.322C242.872 227.113 242.861 226.901 242.876 226.679C242.889 226.44 242.971 226.212 243.131 226.002C243.231 225.883 243.34 225.771 243.458 225.667C243.679 225.478 243.906 225.449 244.146 225.462C244.351 225.478 244.527 225.547 244.697 225.643C244.804 225.701 244.896 225.778 244.985 225.822" fill="#DEE3EB"/>
          </g>
          <defs>
          <clipPath id="clip0_5316_27892">
          <rect width="334.102" height="135.186" fill="white" transform="translate(86.8281 0.000488281) rotate(39.9622)"/>
          </clipPath>
          </defs>
        </svg>

        <svg
          class="blo-image-and-text-decoration-bottom"
          width="343"
          height="319"
          viewBox="0 0 343 319"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_5316_27899)">
          <path d="M326.937 202.472C320.81 197.759 314.057 194.537 306.719 192.294C298.219 189.703 289.573 189.785 280.822 190.216C270.937 190.714 262.038 194.099 253.887 199.315C249.348 202.214 245.384 206.032 241.237 209.525C237.644 212.545 234.284 215.885 230.556 218.729C226.105 222.139 221.86 225.863 215.869 226.748C209.802 227.648 203.815 228.771 197.753 227.019C191.419 225.18 186.053 221.683 181.41 217.026C179.871 215.487 178.182 214.072 176.826 212.373C174.543 209.522 171.61 207.205 170.655 203.311C168.665 195.207 169.026 187.245 170.846 179.162C172.069 173.75 174.272 168.753 177.27 164.281C182.181 156.928 186.365 149.232 189.316 140.956C191.025 136.139 191.94 131 192.828 125.932C193.511 122.004 194.138 117.937 193.801 114.014C193.374 108.985 192.26 103.958 190.887 99.089C189.835 95.348 188.519 91.4178 186.283 88.3253C180.118 79.8158 173.541 71.7421 164.65 65.5726C156.654 60.0126 148.268 55.7196 138.97 53.1306C132.677 51.3732 126.335 51.5582 119.783 52.3484C108.025 53.7759 97.6271 58.1862 88.2892 65.0787C82.9504 69.026 78.3525 73.9536 73.1694 78.1251C67.9234 82.3533 62.4925 86.3172 55.8648 88.3721C51.2811 89.7962 46.6119 91.1174 41.9708 89.9624C36.3645 88.561 30.9227 86.4226 25.5177 84.3149C24.0825 83.7529 22.8983 82.2762 21.8592 80.9993C20.8307 79.7469 20.0739 79.5501 19.0506 80.8643C17.4997 82.8457 16.0666 84.9101 14.4698 86.8529C10.3917 91.7942 6.26615 96.6801 1.87441 101.921C3.21545 103.248 4.15283 104.721 5.48944 105.419C12.0378 108.828 18.4296 112.872 25.3921 115.098C33.1237 117.561 41.2827 119.571 49.608 118.548C55.1418 117.873 60.7433 117.099 66.0298 115.451C71.3915 113.788 76.5883 111.315 81.5175 108.603C86.1149 106.081 90.5129 103.033 94.6004 99.7396C100.759 94.7765 106.137 88.8621 113.21 85.0085C117.833 82.4928 122.716 81.1783 127.85 82.0433C135.252 83.2779 142.471 85.4212 148.627 89.8767C152.803 92.8918 157.473 95.6337 159.581 100.744C160.908 103.933 162.158 107.215 162.946 110.563C163.529 113.036 163.13 115.732 163.474 118.285C164.061 122.637 163.913 127.121 161.963 130.846C156.332 141.611 149.854 151.915 144.752 162.982C140.883 171.364 139.316 180.097 139.99 189.192C140.426 195.104 141.311 201.002 142.37 206.842C142.955 210.097 143.919 213.42 145.411 216.358C148.792 222.987 151.971 229.839 157.62 234.994C162.112 239.086 166.136 243.755 171.694 246.538C173.357 247.369 175.047 248.129 176.732 248.916C181.422 251.112 185.931 254.234 190.866 255.261C197.171 256.575 203.832 256.345 210.35 256.527C219.068 256.77 227.344 254.221 235.332 251.213C239.487 249.649 243.271 246.773 246.798 243.963C251.349 240.34 255.279 235.931 259.868 232.356C264.688 228.598 269.869 225.269 275.076 222.039C280.153 218.888 285.846 218.377 291.663 219.378C296.506 220.217 300.894 222.16 304.991 224.952C308.201 227.143 318.025 234.531 321.051 236.942L341.346 216.452C339.391 214.813 328.957 204.07 326.914 202.499" fill="#C27D4C"/>
          <path d="M319.516 222.515C320.885 224.069 322.687 223.97 324.044 222.779C325.433 221.569 325.59 219.778 324.436 218.452C324.248 218.248 324.043 218.045 323.618 217.751L324.629 216.973L326.879 219.546L328.228 218.364L324.882 214.545L321.006 217.53L321.36 219.14C321.969 219.009 322.5 219.048 322.906 219.513C323.351 220.027 323.404 220.821 322.734 221.416C322.134 221.945 321.411 221.932 320.891 221.34C320.579 220.985 320.371 220.451 320.705 219.809L319.155 218.714C318.316 220.088 318.543 221.42 319.516 222.515ZM314.318 216.972L315.668 218.213L321.93 211.431L320.699 210.289C319.765 210.882 318.581 210.859 317.621 210.085L316.357 211.463C316.991 212.01 317.719 212.354 318.525 212.436L314.344 216.979L314.318 216.972ZM309.488 211.269C308.829 210.826 308.934 209.805 310.032 208.178C311.159 206.498 312.055 206.062 312.706 206.497C313.356 206.933 313.283 207.934 312.155 209.598C311.057 211.224 310.156 211.703 309.496 211.26M308.481 212.769C310.226 213.95 312.016 213.138 313.693 210.652C315.375 208.141 315.448 206.171 313.705 205.007C311.96 203.826 310.161 204.631 308.478 207.142C306.802 209.627 306.729 211.597 308.481 212.769ZM298.517 208.216L304.241 210.278L304.884 208.504L301.486 207.282C301.997 206.804 302.678 206.531 303.588 206.247C305.64 205.607 306.199 204.716 306.443 204.015C306.956 202.601 306.413 201.161 304.657 200.534C302.954 199.919 301.488 200.55 300.725 202.113L302.335 203.119C302.687 202.289 303.27 201.965 304.025 202.239C304.588 202.444 304.861 202.845 304.657 203.424C304.458 203.96 303.957 204.353 302.063 204.953C300.028 205.592 299.183 206.805 298.543 208.222M285.906 208.35L292.479 207.796L292.324 205.948L287.599 206.347L287.431 204.348L291.643 204.002L291.49 202.171L287.288 202.524L287.133 200.77L291.749 200.388L291.596 198.557L285.124 199.102L285.909 208.384L285.906 208.35ZM280.051 210.396C282.003 209.782 283.1 208.249 283.207 206.182L281.307 206.324C281.219 207.454 280.561 208.277 279.485 208.61C278.004 209.072 276.605 208.243 276.085 206.589C275.553 204.893 276.248 203.319 277.802 202.825C278.737 202.53 279.537 202.732 280.319 203.513L281.959 202.34C280.767 200.966 279.031 200.464 277.261 201.028C274.673 201.843 273.393 204.489 274.255 207.226C275.103 209.906 277.503 211.199 280.068 210.395M267.237 216.048L268.905 215.195L266.207 209.95L272.295 213.443L273.807 212.664L269.549 204.377L267.899 205.228L270.587 210.465L264.516 206.971L262.979 207.761L267.237 216.048ZM263.195 218.691L264.79 217.7L259.869 209.795L258.273 210.786L263.195 218.691ZM258.074 222.508C259.816 221.25 260.319 219.531 259.351 218.188C258.517 217.021 257.045 216.819 254.782 217.562C253.253 218.063 252.712 218.093 252.451 217.734C252.16 217.334 252.469 216.78 253.18 216.267C253.956 215.714 254.574 215.685 255.218 216.147L256.55 214.669C255.194 213.565 253.791 213.561 252.184 214.714C250.45 215.964 249.943 217.538 250.862 218.809C251.686 219.952 253.111 220.115 255.321 219.342C256.724 218.862 257.486 218.829 257.796 219.26C258.126 219.724 257.785 220.485 256.962 221.076C256.09 221.706 255.324 221.688 254.532 220.993L253.304 222.402C254.654 223.736 256.349 223.766 258.075 222.525M237.243 238.175C239.062 237.012 239.652 235.319 238.756 233.927C237.986 232.72 236.526 232.449 234.226 233.069C232.673 233.486 232.121 233.492 231.885 233.122C231.61 232.704 231.953 232.164 232.693 231.691C233.498 231.178 234.11 231.175 234.733 231.681L236.139 230.282C234.838 229.113 233.437 229.033 231.779 230.097C229.978 231.259 229.391 232.798 230.238 234.117C230.997 235.3 232.421 235.54 234.658 234.884C236.093 234.477 236.841 234.479 237.136 234.929C237.441 235.403 237.065 236.151 236.212 236.702C235.303 237.283 234.55 237.231 233.797 236.49L232.494 237.82C233.774 239.22 235.451 239.345 237.254 238.2M227.94 243.237C229.676 242.395 230.396 240.734 229.419 238.712L226.75 233.209L225.078 234.011L227.759 239.555C228.238 240.55 227.839 241.231 227.138 241.565C226.502 241.876 225.849 241.798 225.316 241.054L223.771 242.04C224.826 243.69 226.407 243.984 227.932 243.246M215.951 241.565L215.357 239.645L217.169 239.086C217.806 238.885 218.337 239.128 218.517 239.715C218.696 240.303 218.392 240.814 217.763 241.006L215.951 241.565ZM215.779 247.327L217.567 246.778L216.497 243.319L218.317 242.751C220.088 242.203 220.791 240.637 220.318 239.131C219.856 237.651 218.442 236.747 216.63 237.306L213.022 238.423L215.787 247.317L215.779 247.327ZM201.819 246.815C200.31 246.769 199.236 245.478 199.293 243.714C199.345 241.992 200.412 240.699 202.015 240.745C203.626 240.798 204.587 242.15 204.534 243.872C204.479 245.654 203.327 246.86 201.826 246.805M201.76 248.656C204.42 248.744 206.36 246.746 206.454 243.949C206.543 241.196 204.825 238.976 202.072 238.887C199.301 238.8 197.421 240.895 197.341 243.656C197.247 246.453 199.092 248.577 201.76 248.656ZM189.674 244.434C188.239 243.965 187.576 242.426 188.125 240.745C188.669 239.108 190.048 238.17 191.571 238.665C193.103 239.167 193.642 240.744 193.097 242.381C192.541 244.071 191.093 244.904 189.674 244.434ZM189.097 246.185C191.628 247.024 194.057 245.654 194.928 242.993C195.786 240.385 194.773 237.771 192.146 236.897C189.512 236.033 187.117 237.511 186.261 240.136C185.39 242.797 186.55 245.347 189.088 246.177M177.883 238.35L178.989 236.527L180.803 237.625C181.692 238.167 181.95 238.68 181.556 239.318C181.171 239.964 180.594 239.981 179.705 239.439L177.891 238.341L177.883 238.35ZM179.932 234.973L180.793 233.554L182.221 234.423C183.127 234.964 183.478 235.477 183.182 235.979C182.885 236.464 182.267 236.399 181.369 235.85L179.941 234.981L179.932 234.973ZM175.338 238.982L178.731 241.029C180.455 242.068 182.268 241.806 183.129 240.387C183.642 239.551 183.643 238.599 183.088 237.9C183.786 237.906 184.42 237.485 184.858 236.758C185.688 235.375 185.161 234.028 183.384 232.96L180.151 231.001L175.336 238.966L175.338 238.982ZM165.62 230.48L166.989 231.737L169.928 228.528L168.274 232.907L169.595 234.108L173.75 232.059L170.843 235.247L172.212 236.504L178.491 229.626L177.17 228.425L170.636 231.636L173.213 224.813L171.892 223.611L165.603 230.482L165.62 230.48ZM163.324 220.916L166.324 220.039L164.68 222.709L163.307 220.917L163.324 220.916ZM157.874 220.614L159.056 222.167L161.444 221.481L163.655 224.38L162.344 226.485L163.516 228.014L168.723 219.488L167.482 217.854L157.874 220.614ZM155.725 211.954L157.673 211.103L158.515 213.043C158.931 214.001 158.836 214.562 158.149 214.86C157.453 215.168 156.974 214.845 156.558 213.887L155.716 211.947L155.725 211.954ZM159.351 210.368L160.873 209.707L161.544 211.237C161.969 212.203 161.957 212.833 161.432 213.049C160.908 213.283 160.437 212.857 160.021 211.899L159.351 210.368ZM153.285 210.988L154.871 214.614C155.671 216.456 157.309 217.298 158.823 216.629C159.715 216.235 160.277 215.472 160.222 214.567C160.795 214.984 161.544 215.003 162.33 214.662C163.804 214.022 164.156 212.614 163.325 210.715L161.814 207.261L153.285 210.988Z" fill="#DEE3EB"/>
          <path d="M150.428 195.267L150.414 197.13L157.882 197.186L157.859 200.01L159.705 200.026L159.758 192.524L157.912 192.508L157.889 195.332L150.421 195.277L150.428 195.267ZM151.581 183.563L151.326 185.396L155.155 185.917L154.617 189.84L156.441 190.088L156.979 186.164L158.717 186.402L158.086 190.92L159.91 191.167L160.786 184.808L151.561 183.53L151.581 183.563ZM154.954 176.312C155.335 174.85 156.832 174.089 158.547 174.542C160.209 174.982 161.234 176.294 160.828 177.86C160.413 179.418 158.88 180.055 157.217 179.615C155.486 179.164 154.581 177.765 154.963 176.32M153.171 175.849C152.497 178.424 154.004 180.765 156.702 181.479C159.365 182.18 161.913 181.003 162.613 178.34C163.32 175.651 161.698 173.354 159.027 172.663C156.312 171.951 153.845 173.273 153.163 175.858M156.576 165.203C155.845 167.232 156.403 168.933 157.966 169.493C159.318 169.986 160.636 169.308 162.085 167.429C163.061 166.153 163.498 165.817 163.92 165.967C164.385 166.139 164.45 166.771 164.148 167.596C163.819 168.492 163.334 168.866 162.541 168.843L162.281 170.812C164.02 170.957 165.182 170.166 165.861 168.312C166.593 166.301 166.122 164.719 164.647 164.186C163.32 163.699 162.046 164.381 160.673 166.262C159.784 167.454 159.178 167.915 158.677 167.73C158.141 167.531 157.993 166.719 158.333 165.754C158.702 164.736 159.338 164.331 160.377 164.452L160.605 162.596C158.74 162.267 157.325 163.191 156.601 165.193M163.34 149.842L162.555 151.543L166.596 153.414L169.644 158.39L170.523 156.502L168.548 153.285L172.266 152.744L173.159 150.821L167.381 151.713L163.349 149.85L163.34 149.842ZM173.331 142.841L174.772 143.564L173.882 145.334C173.563 145.957 173.083 146.195 172.674 145.993C172.238 145.768 172.146 145.207 172.442 144.611L173.331 142.841ZM168.939 138.536L168.099 140.191L171.676 142.001L171.241 142.855C170.524 144.27 167.767 142.881 166.664 143.004L165.73 144.846C168.015 144.823 169.249 145.904 170.407 145.156C170.32 146.286 170.839 147.158 171.765 147.637C173.091 148.311 174.656 147.841 175.496 146.186L177.241 142.743L168.932 138.545L168.939 138.536ZM172.121 130.171L169.853 136.364L171.601 137.001L173.23 132.539L175.119 133.231L173.667 137.201L175.398 137.839L176.85 133.869L178.501 134.471L176.913 138.827L178.644 139.465L180.878 133.369L172.138 130.17L172.121 130.171ZM173.213 123.946L172.915 125.775L180.28 126.979L179.82 129.765L181.639 130.055L182.848 122.646L181.029 122.356L180.569 125.142L173.203 123.939L173.213 123.946ZM173.507 115.522L173.568 117.37L181.035 117.128L181.123 119.951L182.97 119.89L182.726 112.389L180.878 112.45L180.965 115.273L173.498 115.514L173.507 115.522ZM171.974 107.675C172.489 109.763 174.021 110.937 176.391 110.346L182.116 108.94L181.667 107.127L175.918 108.543C174.729 108.843 174.034 108.293 173.77 107.228C173.506 106.163 173.909 105.422 175.09 105.131L180.831 103.724L180.382 101.91L174.675 103.314C172.278 103.9 171.469 105.612 171.974 107.675ZM169.792 96.5195L171.717 95.6018L172.633 97.5101C173.081 98.4481 173.012 99.0153 172.328 99.3476C171.651 99.6708 171.156 99.3659 170.708 98.4279L169.792 96.5195ZM173.357 94.8197L174.858 94.1093L175.578 95.6185C176.035 96.5642 176.039 97.1928 175.534 97.4414C175.02 97.6822 174.543 97.2823 174.085 96.3365L173.366 94.8274L173.357 94.8197ZM167.318 95.6496L169.027 99.2221C169.893 101.041 171.559 101.813 173.051 101.094C173.932 100.677 174.467 99.8901 174.379 98.9883C174.966 99.387 175.722 99.3799 176.488 99.0064C177.941 98.3173 178.24 96.8968 177.353 95.0284L175.727 91.6186L167.316 95.6327L167.318 95.6496ZM153.738 81.1294C155.481 82.3868 157.276 82.3135 158.246 80.97C159.086 79.7994 158.805 78.3451 157.38 76.4476C156.416 75.1555 156.218 74.646 156.475 74.2833C156.763 73.8839 157.393 73.9899 158.101 74.5054C158.872 75.058 159.102 75.6413 158.863 76.3934L160.683 77.1849C161.287 75.5506 160.846 74.2124 159.249 73.0612C157.515 71.8115 155.859 71.8299 154.943 73.1092C154.118 74.2615 154.412 75.6637 155.857 77.4999C156.76 78.6783 157.044 79.3844 156.725 79.8205C156.4 80.2827 155.56 80.2037 154.743 79.6127C153.863 78.9847 153.646 78.2559 154.053 77.2849L152.332 76.5611C151.505 78.2745 152.004 79.8797 153.745 81.1202M143.125 75.3921L149.186 78.0029L149.921 76.3061L145.564 74.4206L146.362 72.5737L150.241 74.2463L150.975 72.5495L147.096 70.8768L147.795 69.2596L152.054 71.0943L152.789 69.3975L146.833 66.8284L143.15 75.3815L143.125 75.3921ZM133.733 73.2874L135.56 73.6619L136.733 67.8802L139.299 74.4203L140.969 74.7576L142.834 65.6338L141.017 65.2669L139.842 71.0318L137.295 64.507L135.598 64.1635L133.733 73.2874ZM127.332 71.6416C125.822 71.6727 124.677 70.4476 124.64 68.6827C124.599 66.9608 125.585 65.6157 127.197 65.5757C128.808 65.5356 129.841 66.8386 129.883 68.5606C129.921 70.3423 128.842 71.6104 127.341 71.6493M127.384 73.4816C130.047 73.4168 131.877 71.3259 131.818 68.526C131.753 65.7691 129.917 63.6528 127.161 63.7173C124.387 63.7833 122.625 65.9787 122.699 68.7433C122.759 71.5432 124.72 73.5464 127.393 73.4893M110.086 76.8596L116.368 74.8437L115.804 73.0743L111.282 74.5185L110.671 72.6003L114.688 71.3111L114.126 69.5586L110.108 70.8478L109.57 69.1782L113.985 67.7689L113.423 66.0164L107.247 67.9974L110.095 76.8673L110.086 76.8596ZM102.484 80.5983L108.299 77.7057L107.472 76.0444L103.336 78.1092L100.01 71.432L98.3413 72.2676L102.494 80.606L102.484 80.5983ZM96.9364 84.1986L98.4878 83.1863L94.3927 76.9424L96.755 75.3911L95.7442 73.8566L89.4681 77.9716L90.4789 79.5061L92.8413 77.9547L96.9364 84.1986ZM89.9745 89.598L91.4006 88.4183L86.6433 82.6663L88.8224 80.8677L87.6518 79.4493L81.8676 84.2264L83.0382 85.6448L85.2173 83.8461L89.9745 89.598ZM84.5997 94.3901L86.0029 93.1443L79.8215 86.1834L78.4182 87.4291L84.6074 94.3809L84.5997 94.3901ZM76.5636 100.139L81.92 96.4879L80.8754 94.9564L77.0582 97.554L72.8601 91.3958L71.3209 92.4495L76.5636 100.139ZM61.9562 106.366L68.1917 104.201L67.5785 102.453L63.1003 104.012L62.44 102.115L66.4318 100.726L65.8278 98.986L61.8361 100.375L61.2564 98.7175L65.6365 97.2008L65.0325 95.4605L58.9045 97.5903L61.9577 106.383L61.9562 106.366ZM54.257 107.741L55.4151 107.571L57.3643 97.862L55.4255 98.1435L54.2779 104.025L51.4651 98.7306L49.5263 99.012L54.2387 107.726L54.257 107.741ZM42.6992 103.915L43.9505 101.042L44.9513 104.006L42.7069 103.906L42.6992 103.915ZM38.9702 107.899L40.9248 107.99L41.923 105.718L45.5579 105.873L46.335 108.227L48.2636 108.312L45.0497 98.8541L42.9938 98.7718L38.9548 107.917L38.9702 107.899ZM32.1842 100.541L32.5043 98.9655L34.4428 99.3556C35.1355 99.4986 35.4855 99.9013 35.3969 100.343C35.3036 100.827 34.7893 101.068 34.1227 100.931L32.1842 100.541ZM29.2073 105.92L31.0247 106.287L31.8174 102.358L32.7521 102.548C34.3014 102.862 33.6921 105.882 34.1232 106.915L36.1567 107.322C35.5295 105.125 36.2403 103.643 35.2171 102.739C36.3369 102.521 37.0381 101.796 37.2448 100.766C37.5416 99.312 36.6715 97.9266 34.8449 97.5521L31.0629 96.7889L29.2241 105.919L29.2073 105.92ZM21.2566 101.164L21.998 99.1606L23.9923 99.8944C24.968 100.259 25.3056 100.714 25.0537 101.424C24.785 102.137 24.2342 102.253 23.2509 101.898L21.2566 101.164ZM22.6298 97.4559L23.2059 95.892L24.779 96.4759C25.7715 96.8389 26.2104 97.2847 26.0111 97.8208C25.8119 98.3569 25.1862 98.3951 24.2028 98.0397L22.6298 97.4559ZM18.8709 102.258L22.5883 103.639C24.4692 104.341 26.2096 103.737 26.7781 102.182C27.1133 101.26 26.9457 100.323 26.2665 99.7534C26.9614 99.6326 27.501 99.1005 27.796 98.301C28.3598 96.7892 27.5812 95.5743 25.639 94.853L22.0977 93.5416L18.8724 102.275L18.8709 102.258Z" fill="#DEE3EB"/>
          <path d="M167.016 83.9457C167.165 84.0856 167.295 84.2102 167.417 84.3439C167.548 84.4853 167.649 84.6634 167.693 84.8721C167.696 84.9058 167.716 84.9381 167.719 84.9718C167.772 85.1881 167.756 85.3935 167.631 85.6171C167.6 85.6538 167.562 85.6997 167.523 85.7456C167.431 85.8557 167.32 85.9505 167.217 86.036C167.044 86.1874 166.869 86.3218 166.663 86.3994C166.565 86.4421 166.464 86.451 166.37 86.4508C166.217 86.4473 166.065 86.4607 165.918 86.4311C165.692 86.383 165.513 86.2798 165.38 86.1215C165.295 86.0185 165.218 85.9232 165.133 85.8203C165.038 85.7096 164.992 85.5777 164.955 85.4365C164.911 85.2278 164.9 85.0162 164.915 84.7939C164.928 84.5548 165.01 84.3266 165.17 84.117C165.27 83.9976 165.379 83.886 165.497 83.7821C165.719 83.5925 165.946 83.564 166.185 83.577C166.39 83.5929 166.566 83.6623 166.736 83.7579C166.843 83.8164 166.935 83.8933 167.024 83.9365" fill="#DEE3EB"/>
          <path d="M244.977 225.83C245.125 225.97 245.255 226.095 245.378 226.229C245.509 226.37 245.61 226.548 245.654 226.757C245.657 226.791 245.677 226.823 245.68 226.857C245.733 227.073 245.717 227.278 245.592 227.502C245.561 227.539 245.523 227.584 245.484 227.63C245.392 227.74 245.281 227.835 245.178 227.921C245.005 228.072 244.83 228.207 244.624 228.284C244.526 228.327 244.424 228.336 244.331 228.336C244.178 228.332 244.026 228.345 243.879 228.316C243.653 228.268 243.474 228.165 243.341 228.006C243.256 227.903 243.179 227.808 243.094 227.705C242.999 227.594 242.953 227.462 242.915 227.321C242.872 227.113 242.861 226.901 242.876 226.679C242.889 226.44 242.971 226.211 243.131 226.002C243.231 225.882 243.34 225.771 243.458 225.667C243.679 225.477 243.906 225.449 244.146 225.462C244.351 225.478 244.527 225.547 244.697 225.643C244.804 225.701 244.896 225.778 244.985 225.821" fill="#DEE3EB"/>
          </g>
          <defs>
          <clipPath id="clip0_5316_27899">
          <rect width="334.102" height="135.186" fill="white" transform="translate(86.8281 0.000488281) rotate(39.9622)"/>
          </clipPath>
          </defs>
        </svg>
      {% endif %}
    </div>
    <div class="blo-image-and-text-media-secondary">
      {% if section.settings['image-secondary'] %}
        {{ section.settings['image-secondary'] | image_url: width: 600 | image_tag: loading: 'lazy' }}
      {% endif %}
    </div>
  </div>
  <div class="blo-image-and-text-text {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'badge' -%}
          <div>
            <div
              class="blo-badge inline-richtext {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
              {{ block.shopify_attributes }}
            >
              {{ block.settings.text }}
            </div>
          </div>
        {%- when 'heading' -%}
          <h2
            class="blo-banner-title inline-richtext {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
            {{ block.shopify_attributes }}
          >
            {{ block.settings.heading }}
          </h2>
        {%- when 'text' -%}
          <div
            class="blo-banner-text rte {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
            {{ block.shopify_attributes }}
          >
            <p>{{ block.settings.text }}</p>
          </div>
        {%- when 'table-row' -%}
          <div
            class="blo-image-and-text-row rte {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %} {% if block.settings.is-header == true %} blo-image-and-text-row-header {% endif %}"
            {{ block.shopify_attributes }}
          >
            <div class="blo-image-and-text-row-content">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 10L8.5 13.5L14 6" stroke="#335348" stroke-width="1.9"/>
              </svg>
              <p>{{ block.settings['text-pros'] }}</p>
            </div>
            <div class="blo-image-and-text-row-content">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line x1="6.67175" y1="6.32825" x2="13.7428" y2="13.3993" stroke="#C27D4C" stroke-width="1.9"/>
                <line x1="13.6718" y1="6.67175" x2="6.60068" y2="13.7428" stroke="#C27D4C" stroke-width="1.9"/>
              </svg>
              <p>{{ block.settings['text-cons'] }}</p>
            </div>
          </div>
        {%- when 'buttons' -%}
          <div
            class="blo-image-and-text-buttons {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
            {{ block.shopify_attributes }}
          >
            <a
              {% if block.settings.button_link == blank %}
                role="link" aria-disabled="true"
              {% else %}
                href="{{ block.settings.button_link }}"
              {% endif %}
              class="button button--secondary"
            >
              {{- block.settings.button_label | escape -}}
            </a>
          </div>
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

{% style %}
    .blo-image-and-text-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 150px;
    }
    .blo-image-and-text-container.blo-image-on-right {
        flex-direction: row-reverse;
    }
    .blo-image-and-text-media {
        width: 50%;
        position: relative;
        font-size: 0;
    }
    .blo-image-and-text-media img,
    .blo-image-and-text-media video {
        border-radius: var(--blo-corner-radius);
        width: 100%;
        height: auto;
    }
    .blo-image-and-text-media.has-secondary{
      padding-right: 120px;
      padding-bottom: 60px;
    }
    .blo-image-and-text-media-primary {
      position: relative;
    }
    .blo-image-and-text-media.has-secondary .blo-image-and-text-media-secondary {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 190px;
    }
    .blo-image-and-text-media-secondary {
      box-shadow: var(--blo-shadow);
    }
    .blo-image-and-text-decoration-top {
      position: absolute;
      top: -102px;
      right: -160px;
    }
    .blo-image-and-text-decoration-bottom {
      position: absolute;
      bottom: -112px;
      left: -140px;
    }
    .blo-image-and-text-text {
      display: flex;
      flex-direction: column;
      gap:10px;
      width: 50%;
    }
    .blo-image-and-text-text .button {
        margin-top: 20px;
        color: {{section.settings.text_color}};
        border-color: {{section.settings.text_color}};
    }
    .blo-image-and-text-text h2,
    .blo-image-and-text-text p {
      margin-bottom: 0px;
      color: {{section.settings.text_color}};
    }
    .blo-image-and-text-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
    .blo-banner-text + .blo-image-and-text-row {
        margin-top: 40px;
    }
    .blo-image-and-text-row-content {
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        padding: 12px 0;
        color: var(--blo-pine);
    }
    .blo-image-and-text-row-content svg path {
        stroke: var(--blo-pine);
    }
    .blo-badge {
      display: inline-block;
      box-sizing: border-box;
      padding: 5px 12px 3px;
      border: 1.9px solid var(--blo-terra,#C27D4C);
      border-radius: 20px;
      color: var(--blo-terra,#C27D4C);
      font-size: 14px;
      line-height: 130%;
    }


    @media screen and (max-width: 989px) {
      .blo-image-and-text-container {
          flex-direction: column;
          gap: 40px;
      }
      .blo-image-and-text-media {
          width: 100%;
      }
      .blo-image-and-text-text {
          width: 100%;
      }
  }



  .blo-section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  @media screen and (min-width: 750px) {
    .blo-section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}

{% schema %}
{
  "name": "BLO: Image And Text",
  "tag": "section",
  "class": "section blo-image-and-text",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "layout-direction",
      "label": "Show Image On:",
      "options": [
        {
          "value": "layout-left",
          "label": "Left Side"
        },
        {
          "value": "layout-right",
          "label": "Right Side"
        }
      ],
      "default": "layout-left"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "select",
      "id": "media-type",
      "label": "Media Type",
      "options": [
        {
          "value": "image",
          "label": "Image"
        },
        {
          "value": "video",
          "label": "Video"
        }
      ],
      "default": "image"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Video"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Main Image"
    },
    {
      "type": "image_picker",
      "id": "image-secondary",
      "label": "Secondary Image (optional)"
    },
    {
      "type": "checkbox",
      "id": "show_decoration",
      "label": "Show Decoration",
      "default": false
    },
    {
      "type": "header",
      "content": "Options"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#335348"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 100
    }
  ],
  "blocks": [
    {
      "type": "badge",
      "name": "Badge",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "New!",
          "label": "Badge Text"
        }
      ]
    },
    {
      "type": "heading",
      "name": "heading",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Image banner",
          "label": "Heading"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-banner.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "Give customers details about the banner image(s) or content on the template.",
          "label": "Text"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.image-banner.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "Button Label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "BLO: Image And Text"
    }
  ]
}
{% endschema %}
